[2017-09-22 16:20] roytam1 opened #1 "H264 video patch?"
It seems that this part is not included in RestoreXP.patch or Portable.patch

[2017-09-23 14:31] roytam1 opened #2 "MSFN javascript error: instance is null"
22:29:02.595 TypeError: instance is null
http://www.msfn.org/board/uploads/javascript_global/root_library.js.b81e42a4aedce2a07ccdb92a42198ea9.js?v=8c63769e95
Line 632:66

This doesn't happen in official build.

[2017-09-24 08:03] roytam1 commented on #2
So there is 2 lines missing in browser\branding\unofficial\pref\palemoon-branding.js:

[code]

[2017-09-24 16:09] Feodor2 commented on #2
Noticed
It is changed easy by the options - advanced - general - useragent mode.

[2017-09-24 16:09] #2 closed

[2017-09-29 00:22] #1 closed

[2017-09-29 11:18] roytam1 commented on #1
It seems disabling H264 MSE on newer windows. (which has no K-Lite codec pack or LAV Filters installed, i.e. only windows-bundled codecs available)

[2017-09-30 15:22] roytam1 commented on #3
top post updated for addressing old installed LAV filter issue.

[2017-10-02 18:30] Feodor2 commented on #3
I have choosen lav libraries because they was first i found, and its usage temporary. i am going to build my own library and then to include it into binary.

[2017-11-08 11:41] Feodor2 commented on #4
It is rather early to do anything with that. I shall see when it will be finished. I do not like newer mozilla there inside too many redundant useless code. Palemoon already has taken many of that too.

[2017-11-08 11:50] Feodor2 commented on #5
I checked it now, no error. So this is on your side, and yes mega.nz site is intricate, but free and reliable, download software most likely failing with it. Do not use it with that site.

[2017-11-15 02:32] Feodor2 commented on #5
Now its new host for binary provided by Moonchild

[2017-11-15 02:33] thehandyman1957 commented on #5
I followed that thread and thank you for the great work.

[2017-12-04 19:14] Feodor2 commented on #6
For speed i try find some one with that speed and ask check. There where no major changes since version 27.6 as well.

For **Pale Moon is already running** specify the type of the installation you had choosen. If portable wether is **default browser disabled** feature has been enabled.

[2017-12-04 21:44] kitaro1 commented on #6
The newmoon 27.6.1 installation version http://prntscr.com/hj42pc
Palemoon 27.7 portable http://prntscr.com/hj44y9
Basilisk nightly FF55 portable http://prntscr.com/hj45me

Reason for free upload - you need to add newmoon, palemoon and basilisk to XP firewall.
Basilisk browser is the fastest.
It's a good job with internet browsers.
Thank you.

[2018-02-06 08:25] Feodor2 commented on #4
Moving toward 52 is good, i shell begin prepare for building new mypal or basil whatever

[2018-03-03 05:55] kitaro1 commented on #8
I downloaded cometbird browser 11 polish. A lot of pages still work on this dead browser. Even YouTube does not need much http://prntscr.com/im6dan
The problem is with github, but other websites have no problems: http://prntscr.com/im6dkj
Cometbird was extremely light and it would be a good proposition to modify and adapt to today's Internet functions.
?

[2018-03-12 11:26] Feodor2 commented on #9
Because it is not allowed, original palemoon heads do not want any business with winxp users and displeased of that. This is their will and their right, so accept. Invent new name and picture instead. If we like it i shall set in on.

[2018-03-12 11:32] dapgo commented on #9
It is a pity because there are still XP users.

A good example of the opposite approach is keepass, from the official page you can find links to unofficial ports, and even some of them use the string  "keepass" and even a similar logo.

[2018-03-12 13:16] Feodor2 commented on #10
Ah now they traded places in 27.8, shall fix that, thanks for report

[2018-03-12 14:38] Feodor2 commented on #9
Sorry no way **uPM4xp**
Here my preliminarily requirement: name are to be easy pronounced and not greater than 7 chars.

[2018-03-12 14:50] pablorosatti commented on #9
Why not NewMoon, the original name?
Maybe "Luna XP"?

[2018-03-13 15:05] Feodor2 commented on #9
This is better, though i do not like the 'XP'
Let we wait for more peoples opinions

[2018-03-13 15:14] Tallefer commented on #9
OldMoon.
'Cos it's for us, old farts and retrogrades. :)
Also OldFox, OldBird, OldPal, etc… :)

[2018-03-13 16:16] dapgo commented on #9
IMHO it would be good to keep in the name association with PaleMoon , but strings Pale and Moon are 4 char so it is difficult to be shorter than 8...

In fact i found only
OldMoon
NewMoon

but breaking the rule, some of following are not so bad
PallidMoon
BrightMoon
DarkMoon
PaleLuna

on the other hand, what about the name for the Basilisk port for xp?

[2018-03-13 16:19] Feodor2 commented on #12
Article with integrated ffmpeg has proven bad for now. Shall rebuild on old scheme and republish

[2018-03-14 18:30] Feodor2 commented on #12
Please get fixed article there
https://mega.nz/#!EeYFkToR!jlQTvpOYKNxWJgy7yuTNFA3DQVDiOaOnW3SGcMSnsIg

[2018-03-14 21:19] letmeindude commented on #12
Thank you for your work.

[2018-03-15 08:30] SSJ9899TDylan commented on #9
Has anyone tested this on Windows 2000 with Extended Kernel?

[2018-03-15 08:31] SSJ9899TDylan commented on #11
Does this work on ReactOS yet?

[2018-03-18 15:48] Feodor2 commented on #13
Eventually i shall start buiding the fork of the basiliks too. This may be happen soon.

[2018-03-18 15:48] Feodor2 commented on #12
Resolved

[2018-03-18 15:52] Feodor2 commented on #11
Resolved.

Can't say about reactos - not using it at alll

[2018-03-18 15:53] Feodor2 commented on #10
Resolved

[2018-03-19 02:12] pablorosatti commented on #9
DarkSun?
![darksun2](https://user-images.githubusercontent.com/36889212/37574717-cfe3009a-2b1a-11e8-814a-7155c8a12b14.jpg)
DarStar?
![darkstar](https://user-images.githubusercontent.com/36889212/37574716-cfb13286-2b1a-11e8-8741-cd0edd724106.jpg)
Eclipse?
![eclipse](https://user-images.githubusercontent.com/36889212/37574718-d0141504-2b1a-11e8-93b2-abe615686603.jpg)

[2018-03-20 01:36] Feodor2 commented on #14
Rewrite please readme.md and i shall rewrite about help.
Thanks for the report.

[2018-03-21 19:06] Montclair commented on #14
### Mypal

Mypal is a web browser based on Moonchild Productions' Pale Moon code.  The goal of Mypal is to provide a secure and reliable web browser for Windows XP.  Mypal operates identically to Pale Moon with some minor exceptions.  Portable modes are not available and certain settings including unused legacy Mozilla code have been removed.

### [Download](https://github.com/Feodor2/Mypal/releas

[2018-03-22 00:36] Feodor2 commented on #14
Thanks, changed about portable though.
It available otherwise, you may want to read https://github.com/Feodor2/Mypal/wiki/Portable

[2018-03-22 14:37] Montclair commented on #14
Noted.  I was just trying to translate what you were trying to say in the original readme about portable. Glad you have that implemented.  Glad I could be of some minor help and thanks for maintaining this project!

[2018-03-26 15:01] kitaro1 commented on #9
Citrimoon? I like lemon. :)

[2018-03-27 03:39] Feodor2 commented on #9
Moon again, no.
What about **torch**
Non english language can be too, i know **vatrae**

[2018-03-30 07:06] Feodor2 commented on #15
Please take the 27.8.3 version
https://mega.nz/#!1PY1iLBA!kd_QiwKtbJWG0aqr9vW4SHpNxsCJApYq9C2hPecBeCM
Likely it is fixed there

[2018-03-30 07:34] setsumi commented on #15
Works indeed. Thank you!

[2018-04-06 19:39] DJboutit commented on #9
How about XPMoon

[2018-04-06 21:06] PhysicusInsanus commented on #17
I tried latest [alternative build](https://msfn.org/board/topic/177125-my-build-of-new-moon-temp-name-aka-pale-moon-for-xp/?do=findComment&comment=1152484) by **ryoyam1** as well, result is exactly the same.

[2018-04-06 21:12] Tallefer commented on #17
Just a wild guess: probably it messes up with 32/64 bit explorer shell selection. Manifest file problem, maybe? Some subtle quirks are needed for it to work as well in XP as in 7+, IF I recall correctly.

[2018-04-06 21:14] Tallefer commented on #17
@PhysicusInsanus by the way, do you know by any chance, is there any comparison chart between these two builds anywhere?

[2018-04-06 21:48] PhysicusInsanus commented on #17
@Tallefer probably, only MSFN forum topic linked above. There are not so much differences actually. Most notable are own approach to memory management workaround for NT 5 -- **roytam1** used own code patch (in the earlier versions at least) -- and codec/splitter access for H264 video -- **Feodor2** utilizes system wide registered external modules while **roytam1** prefers dedicated ones, which sho

[2018-04-06 21:52] PhysicusInsanus commented on #17
@Tallefer there is no embedded manifest file in Mypal executable at all, AFAICS. Usually there is clearly visible via HEX-editor XML text near the end of the _exe_.

[2018-04-06 21:59] Tallefer commented on #17
@PhysicusInsanus ah, thank you! This build looks a bit more convenient because of the "portable installation" patch.

[2018-04-10 12:02] Feodor2 commented on #17
I can reach only winxp 64 now. First i shall see there, and eventually try to find a win 2003x64 machine, this is may be complicated.

[2018-04-10 12:04] Feodor2 commented on #16
Please give links of these crashing sites.

[2018-04-10 13:01] Feodor2 commented on #9
You stick with moon too.
Sorry no. No any moon or sun whatever thing, and certainly no xp thing too.

[2018-04-10 15:46] pablorosatti commented on #9
The name need to be related to features...

[2018-04-10 18:08] DJboutit commented on #16
Youtube is one and gifs on Reddit is another

[2018-04-10 19:32] Tallefer commented on #9
@Feodor2 > No any moon or sun whatever thing, and certainly no xp thing too.
Should've been posted that from the start. :)
Still, here's one: base — %Moon% Five. Five — because of NT5. V as number 5 will do fine too.
Example: Amalthea. Or pick Io or Metis, or any other of Jupiter's (planet #5) moons, first one (5.1) in any category will do.

[2018-04-11 07:35] dapgo commented on #9
No words in common with Pale-moon,  xp or sun.

But, what about words that reference the Firefox/Gecko engine?
OldFox (said before by Tallefer)
AgedFox
OldGecko
NightlyGecko
LunarGecko

BTW some Geckos are also called "Moon Lizard" ;)

[2018-04-11 20:30] PhysicusInsanus commented on #17
@Feodor2 I believe XP x64 should be sufficient for testing. Since XP x64 and 2003 x64 share the same codebase unlike their 32-bit counterparts. So XP 64 is more like somehow striped down Server.

[2018-04-11 20:56] Feodor2 commented on #16
Have no crash ever on youtube, which is used frequently with mypal on winxp.
But i am not acquainted with reddit, therefore i was simple navigating it at random for some time, no crash there too. So you are to provide me exact details to crashing entries for i could help you.

In general you may want to try with clean profile and without plugins.

[2018-04-11 21:13] Feodor2 commented on #9
I supposed that it is obvious that name must have no any relations with palemoon name. As for fox i do not know actually about mozzila concern of using their names. what about white racoon :) Also did you know that inside the palemoon including mypal all Gecko names is changed to Goana ones. So i think we should develop our own name, and if needed replace with it all palemoon and goana entries.

[2018-04-12 10:19] dapgo commented on #9
I like the "raccon" name, because the logo could help identifying the relation with Firefox.
Just for curiosity, regarding no relation with Palemoon name.  M.C. Straver doesn't like forks? you don't like the name relation?
I mean because  "Pale Raccon"  is quite similar to "White Raccon", it will keep some reference that i think is interesting for users.
About legal terms, at least Waterfox, TenFo

[2018-04-12 17:12] Feodor2 commented on #9
Well if **white raccoon** is good why not. This is like fox too animal of dog series, and white means old, we can put grey or old instead. Don't know about goana name though, there was quiet about using it, so let it remains for a while.

The full story about moon upheaval: https://forum.palemoon.org/viewtopic.php?f=5&t=16241

[2018-04-13 17:59] dapgo commented on #13
is there a repository/issues for the Basilisk fork?
Is Basilisk mean to run in ReactOS?

Because i tried the following without success
basilisk52-g4.1.win32-git-20180407-4e38ba867-xpmod.7z
basilisk52-g4.1.win32-git-20180330-59bf4204a-xpmod.7z
basilisk-55.0.0a1.win32_winxp-git-20180128-d57d3c6d1-xpmod.7z

However the Newmoon/palemoon fork and  Kmeleon works fine

[2018-04-16 13:44] dapgo opened #18 "Include in ReactOS Applicantions Manager/repository"
ReactOS has an app to install free software from a repository.
At the moment, in the repository there are Firefox (v48, v28, v3.6) and K-meleon 75.1.
As Mypal/Newmoon works fine in reactOS, i understand that it should be included in order to make it available to more users.

[2018-04-19 15:06] dapgo commented on #18
the installer is still the same, in fact this flavor of "respository" only contains links to files to be downloaded.

Information about steps to include your browser in the repository:
https://github.com/reactos/reactos/tree/master/base/applications/rapps
https://reactos.org/wiki/RAPPS

If you agree but you are busy let us know ;)

 the person who manages it  should be contacted.

[2018-05-03 01:14] Feodor2 commented on #9
Decided to rename mypal to oldrac starting from 28, and basilisk to centaury. Actually It is to do crop pictures.

[2018-05-03 09:42] dapgo commented on #9
By centaury, do you refer to the flowers?
Did you wanted to write centaur?
On the other hand, is there a specific repository for the basilisk fork? are you going to create it?

[2018-05-03 11:26] kitaro1 commented on #19
Restart in safe mode - adjustment does not cause problems. I turned off all add-ons - they did not make any problems. The problem was the Polish language pack. What is the solution to the problem? Wait for new versions?
https://o.rthost.cf/palemoon/pm28xp-sneak-peek-win32-20180428-46a069ec7.7z
The problem is similar...

[2018-05-07 15:25] Feodor2 commented on #19
Sorry, i do not get this. Can you explain what things you poked when the menu became inactive.
By the way i use russian langpack and have not such bug.

[2018-05-07 15:32] Feodor2 commented on #9
This is a centaury, and it will be new section here.
<img src="https://?upload.wikimedia.org/wikipedia/commons/3/36/Centaurea_pullata_b.JPG"/>

[2018-05-08 06:49] kitaro1 commented on #19
260/5000
I was doing the adjustment. After the adjustment, the menu was inactive. I made a new profile - without polish language bar, no extensions, after adjusting the menu was inactive. After the browser restoration, the menu was already active. There are no errors on the previous version.

[2018-05-08 10:50] Feodor2 commented on #19
I still do not get, sorry, what is 260/5000? Could not find **adjustment** thing, please point exactly where it is.
I did place different icons on the menu bar with english and russian langpacks, and had no this issue. Does it mean the **adjustment**? I can try with polish then, familiar with a bit,

[2018-05-08 11:48] kitaro1 commented on #19
In this forum, the post number is appended to.

[2018-05-09 18:18] Feodor2 commented on #20
There is no such dll, it is something wrong on your end. Check for rootkits, possible malware, trojans. And other shitware can cause this bug.

https://prnt.sc/jfscbu.

[2018-05-10 05:16] esyede commented on #20
Oh, thank's!

[2018-05-29 18:07] Feodor2 commented on #21
Suppose you can choose any to delete and it will not affect the actual exe. Make a backup to be sure.

[2018-05-29 18:15] Feodor2 commented on #22
Yes i would like to to put binaries here, i can enable automatic update feature then, but github not accept it - too big size. It may possible in the github.io but do not know how, no free time to do inquire as well.

[2018-05-29 18:23] kitaro1 commented on #21
Mypal, the correct shortcut name is automatically on the quick launch bar after installing the browser.

I am concerned about another problem that extensions can not be found. Mypal does not direct you to search https://addons.mozilla.org/en/firefox/addon/

[2018-05-29 18:56] Feodor2 commented on #21
Well i don't get why extensions can not be found? Yes that link does direct to the error, so why not use simple https://addons.mozilla.org. By the way soon no extensions suitable will be remained on that site.

[2018-05-29 20:03] kitaro1 commented on #21
http://prntscr.com/jo8gj1
New profile, other versions of Mypal - does not search for new extensions.

[2018-05-29 21:13] smaragdus commented on #22
@Feodor2

Are you sure? For example [ONLYOFFICE](https://github.com/ONLYOFFICE/DesktopEditors/releases), [Toxygen](https://github.com/toxygen-project/toxygen/releases), [VNote](https://github.com/tamlok/vnote/releases) releases pages host files far bigger than [Mypal](https://github.com/Feodor2/Mypal/releases).

[2018-05-30 19:02] Feodor2 commented on #21
1.In the palemoon and in the mypal too search feature from addons page is now broken. You  are to search at http://addons.palemoon.org. Suppose it is related that they changed their addons site.
2. The Basilisk uses for search mozillas addons site, because it is no any ghostery on the palemoon site

By the way if you care of the privacy i suggest not use the ghostery, it is now a spyware, it colle

[2018-05-30 19:27] Feodor2 commented on #22
Now i could upload without error! Thank you for point this!

[2018-05-31 20:09] kitaro1 commented on #21
copied half of the address page of the palemoon add-ons and by chance I launched it in a new tab. I checked half the language pack address. By accident, I found the code to run.
http: //relmirror.palemoon.org/
http: //rm-eu.palemoon.org/
Oddly enough - it is cacy by url virus total scan.
And it does in all browsers. A few more copies of the CPU.
Checked on mypal, basilisk, firefox, slimjet, even c

[2018-06-12 10:58] Feodor2 commented on #23
You mean online tv?
Why you give me the link of some abracadabra __?xml version="1.0" encoding="UTF-16"?>__ еtс, i not figure how to use it, give me normal link.
So i search any to get tv and did not have the error
http://mywebtv.info/a7-tv

[2018-06-14 05:56] kitaro1 commented on #23
Yes - it's about tv stream. There is an application error message and the system closes the mypal program.
http://prntscr.com/jurcrg
http://prntscr.com/jurd0u
After closing mypal, the temporary appcompat.txt file disappears.
mywebtv.info works well.
http://prntscr.com/jurfw9 - no polish tv.

[2018-06-14 10:40] Feodor2 commented on #23
Hey i asked the link, can you give the url where you got the crash, i do not ask something else for now, if i needed that message i probably asked about it.
Of the appcompat.txt i do not recall any time when it was helping so do not bother with it.

[2018-06-15 12:41] kitaro1 commented on #23
I found the culprit.
In the first screenshot you can see the window message window moved. White background in the message offset - this is a problem with the graphics driver. I downloaded the newest driver from the Intel and after the update the problem ended.
Similarly, I once had a problem in Firefox 33. In this version, support for older graphics drivers has ended.
Similarly - mypal does not su

[2018-06-17 11:01] kitaro1 commented on #24
You need to set YouTube.
https://images81.fotosik.pl/1097/f925fddc2b20757c.png
Windows XP is to have LAV Filters installed and x264vfw
directx 9.29 redist, visual C ++ 2008, 2010, 2015.
57/5000
You download older versions of the addons running in mypal:
https://images82.fotosik.pl/1098/88f48330861ed729.png

[2018-06-17 11:51] Feodor2 commented on #24
For youtube higher than 360
read https://github.com/Feodor2/Mypal/wiki/H264-support
or simple install k-lite for winxp

Recent ublock is there
https://github.com/gorhill/uBlock/releases

but seek legacy word
https://github.com/gorhill/uBlock/releases/tag/firefox-legacy-1.16.4.1

[2018-06-21 07:37] noteboor commented on #24
Thanks a lot guys. All is working now. I'm very appreciated

[2018-06-29 19:08] JoachimHenze commented on #18
I will take care of that today and add
https://github.com/Feodor2/Mypal/releases/download/27.9.3/mypal-27.9.3.win32.installer.exe
to rapps. Thank you for maintaining this great browser for the Windows XP community.
I hope MyPal will gain some popularity by that. Best regards!

[2018-06-29 19:32] JoachimHenze commented on #18
![mypal27 9 3_running_on_reactos_0 4 9-rc-35-g3eb03ef](https://user-images.githubusercontent.com/33393466/42111185-cf4c5324-7be3-11e8-9072-03fb5544d69f.png)
Now it can be installed in reactOS with a single click! This issue can be resolved as fixed.

[2018-06-29 19:35] Mouvedia commented on #18
reactos/rapps-db@ba36ba7

[2018-06-29 21:17] Feodor2 commented on #18
you are welcome

[2018-06-29 21:17] #18 closed

[2018-07-04 07:52] NojusKZ commented on #25
I can help you translate

[2018-07-04 08:01] NojusKZ commented on #25
![translate](https://user-images.githubusercontent.com/40784226/42264533-95296c60-7f79-11e8-8783-2f0294a06d7e.PNG)

[2018-07-04 08:04] NojusKZ commented on #25
![translate](https://user-images.githubusercontent.com/40784226/42264594-c8b9eb5e-7f79-11e8-9e99-b4abf6197eb2.PNG)

[2018-07-19 23:23] Feodor2 commented on #25
Well pictures are not good for this. This is to do with text.
Can you handle text and archive files?

[2018-08-19 07:11] wyxchari commented on #26
https://www.youtube.com/new
Right menu youtube is not compatible.

[2018-08-23 14:04] wyxchari commented on #27
Yes, it happens to me too. It is a bug.
What I do then is give where it says recaptcha and drawings come out to guess that they do work.

[2018-08-23 18:48] Feodor2 commented on #27
Please give the link to site with this ReCaptcha

[2018-08-23 21:30] letmeindude commented on #27
https://patrickhlauke.github.io/recaptcha/

[2018-08-23 22:59] AlleyOop987 commented on #27
I tried the above link from "letmeindude" and that did not work, either.

[2018-08-24 05:42] wyxchari commented on #27
XP or W7 do not affect the result to click.
The browsers that fail are those designed specifically for XP: New Moon and Mypal.
Palemoon 28 W7, Chrome XP and FireFox XP are not affected.

Here the same problem is also followed: https://msfn.org/board/topic/177125-my-build-of-new-moon-temp-name-aka-pale-moon-for-xp/?page=48

[2018-08-24 11:42] kitaro1 commented on #27
I do not have a disqus login error.
You need to reset the password. Enter the e-mail address where you were registering for the dissqus. Change the password. The message from disqus about changing the password will come to the email from which the registration was made. On the gisqus website, log in.

The problem arises when the login was wrong several times. Disqus will reset all settings to the

[2018-08-24 12:10] wyxchari commented on #27
@kitaro1 It's a problem with Google captcha. Test:
https://www.google.com/recaptcha/api2/demo
https://patrickhlauke.github.io/recaptcha

[2018-08-24 15:30] wyxchari commented on #27
Fix verified:
about:config
add new Boolean value named "dom.messageChannel.enabled﻿"
and set it "true"

[2018-08-26 19:51] Feodor2 commented on #28
Also mypal has new language strings, so you are to add them too into the language pack.
Ma be we should fix all languages?
The new strings are in the shellservice.properties:
PortablemodeTitle=Portable Mode
PortablemodeMessage=By pressing Yes you switch %S into standart non-portable mode, restart will be executed as well.

[2018-08-31 05:10] wyxchari commented on #29
Yes, I confirm the problem. It has not failed me before because I use yahoo classic mail.
![screenshot - 31_08_2018 07_05_53](https://user-images.githubusercontent.com/42490583/44893771-192d9380-acdc-11e8-9ce4-831d57aaac30.jpg)

[2018-08-31 07:33] letmeindude commented on #29
Feodor2, are we going to see MyPal v28?

[2018-08-31 09:53] wyxchari commented on #29
@Elizabeth1623 Run Firefox, switch to the classic Yahoo mail in the configuration wheel on the right, close Firefox and open Mypal, which will come out with classic mail while the problem is fixed.

[2018-08-31 14:17] Tony0945 commented on #29
I had trouble logging in to yahoo recently. Like you, Firefox was okay. Googling found this tip on the Palemoon forum:
Change the default useragent for yahoo (general.useragent.override.yahoo.com)  to:
"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.1.2 Safari/603.3.8" without the quotes. It sounds nuts for a PC running XP but it works!
I suspect

[2018-08-31 15:18] wyxchari commented on #29
Optimized:
about:config
general.useragent.override.yahoo.com
Just add at end: Version/10.1.2 Safari/603.3.8

[2018-08-31 21:54] Elizabeth1623 commented on #29
wyxchari, yes that worked now I see the emails in both of the accounts that were blank before, thanks :)

[2018-09-05 04:48] Feodor2 opened #13 "Youtube videos consistently freeze at 25:21 intervals"
Went from mypal27, still not have time for research, but remember.

It occurs on winxp only, this is weird, certainly this was inherited from mozzila.
https://productforums.google.com/forum/?_escaped_fragment_=topic/youtube/ViiQ_4nNXn8#!topic/youtube/ViiQ_4nNXn8
It may be realted to inserting ads during palyback, that obnoxious google adopted on youtube.
.

[2018-09-05 10:34] letmeindude commented on #13
What about this solution (about:config -> switch layers.low-precision-buffer to "True"):
https://malwaretips.com/threads/basilisk-web-browser.77408/page-2

Not recommended or doesn't work anymore?

[2018-09-05 22:06] Feodor2 commented on #13
That was never worked.

[2018-09-05 23:39] letmeindude commented on #13
Sorry, didn't notice it. And thank you for bringing Pale Moon v28 to XP users.

[2018-09-07 12:57] Feodor2 commented on #13
https://github.com/Feodor2/Mypal/releases/tag/0.0.1

[2018-09-13 18:33] Atavic commented on #27
I got to tell *Feodor2* a big thank you. **Mypal is great!**

I installed: Eclipsed Moon, Decentral Eyes and Adblock Latitude.

While with Palemoon I encountered some issues on 4chan or infinity (8ch), with Mypal I can post on 8ch with out JS. Eclipsed Moon in Smart Mode is also awesome!

I can use Soundcloud with zero issues! And Soundcloud is very selective about browsers.

[2018-09-13 18:37] Atavic commented on #8
Yes, I get the same. If it's exactly 25:21 you can remember the timelapse, multiply it and then reload everytime you get to 25:21, 50:42 etc.

[2018-09-14 20:56] Feodor2 commented on #8
If to reload it will plays from the beginning, i do another way, move slightly seek bar and video continues.

[2018-10-01 15:28] Loosename commented on #27
"" Fix verified:
about:config
add new Boolean value named "dom.messageChannel.enabled﻿"
and set it "true"
Reload page  ""

For a Novice like me, this is of no help whatsoever.

What is. "about:config"  ??

"add new Boolean value named "dom.messageChannel.enabled﻿" ...ADD What and where???

"and set it "true" ...SET what true and where???

[2018-10-01 15:39] Atavic commented on #27
@Loosename Type:
*about:config*
...in the Address Bar. Click continue. A list of entries appears and if you right-click anywhere a
menu appears. If you select *New>* and then *Boolean* you are asked to enter the new preference name, so add: *dom.messageChannel.enabled*

This entry is added, find it by typing it in the Search above the list of entries and by double clicking you can change its value

[2018-10-01 16:57] Loosename commented on #27
Took me a while to understand even your explanation, but eventually I did and managed to make the entry.
I do not have any knowledge base of the information technology vocabulary.

Thank you Atavic.

[2018-12-22 20:41] Feodor2 commented on #13
So what time at it frozen? It may be helping, i also going to test with html5-video-tuner.

[2018-12-24 21:09] Onrut commented on #13
Video freeze at 23:18 and sound at 1-2 minutes later (HTML5+MSE)

[2019-01-25 17:37] Feodor2 commented on #7
Test

[2019-11-01 23:09] JoachimHenze commented on #8
A different workaround could be, say this is your youtube URL e.g:
https://www.youtube.com/watch?v=0sfYKFYqdZw
just add a "minus" after the t
https://www.yout-ube.com/watch?v=0sfYKFYqdZw

This will get you rid of all ads, eventually it helps to workaround the bug.

[2019-12-07 16:22] Feodor2 commented on #13
I can surely say that for me the bug is gone on v28.7.2. I watched several long yotbe clips with different resolution. There is only a glitch in the exact same time.
Please write what you have on winxp with 28.7.2.

[2019-12-31 14:45] justperson622 commented on #13
Not. The bug remains. Even now on the latest version. On the last 28.7. * For one or two days there were no freezes, only a short overlay and the video went on, but it was not long, then everything became as before.

[2020-01-17 20:38] Feodor2 commented on #13
Bug was not there during a week may be. Ah was i expect that they bring back it.

[2020-08-25 21:36] letmeindude opened #19 "Mypal blocked from accessing addons.palemoon.org"
I have tried changing the user agent, but it doesn't work. Any solution?

Maybe patching some system file to mask XP as Windows 7 globally?

[2020-08-26 08:58] ghost commented on #19
This page (https://addons.palemoon.org/extensions/) is currently offline. However, because the site uses Cloudflare's Always Online™ technology you can continue to surf a snapshot of the site. We will keep checking in the background and, as soon as the site comes back, you will automatically be served the live version. Always Online™ is powered by Cloudflare | Hide this Alert

[2020-08-26 09:15] letmeindude commented on #19
If you look at the source of that page you will see an inline script, which looks like this (after decoding):

`var _0x373a=['getElementById','oscpu','onload','Windows NT 5.0','Windows NT 5.1','Windows NT 6.0','startsWith','content','cloneNode','body','ydob-niam'];(function(_0x18ee53,_0x698f9e){var _0x7fbd21=function(_0x28890f){while(--_0x28890f){_0x18ee53['push'](_0x18ee53['shift']());}};_0x7fbd2

[2020-08-26 09:25] ghost commented on #19
As you can see, Tobin is maliciously blocking for Mypal. There is no problem in new browsers from windows 7.
As you can see recently Tobin called those modifying Palemoon on the MSFN forum that they were stealing his rams.
This soap foams.

[2020-08-26 09:32] letmeindude commented on #19
Yes, at first he was only blocking Mypal user agent, but then he added that script which blocks all browsers on XP.

[2020-08-26 09:37] ghost commented on #19
Either Tobin so stupid and headstrong, or they paid Tobi to destroy XP.
The troll is not beautiful.
The reason for his anger may be that Tobi wants tribute and money and got shit.

[2020-08-26 10:55] rereser commented on #19
solution:
new string : general.oscpu.override
value : Windows NT 6.1

[2020-08-26 10:57] Feodor2 commented on #19
If you want to use the addons.palemoon in spite set **general.useragent.override.addons.palemoon.org;Mozilla/5.0 (Windows NT 6.1; WOW64; rv:52.9) Gecko/20100101 Firefox/52.9** he still not block it for firefox, set palemoon when he block firefox too.
Next he is to block synch for sure, i told that is unreliable stuff, fellows who need synch let search free alternative.

[2020-08-26 11:01] letmeindude commented on #19
It works, thank you.

[2020-08-26 11:57] Feodor2 commented on #19
oscpu.override only not works for me

[2020-08-26 12:02] letmeindude commented on #19
You also need to change **general.useragent.override.addons.palemoon.org** to:

`Mozilla/5.0 (Windows NT 6.1;rv:52.9) Goanna/20170101 PaleMoon/28.12.0`

[2020-08-26 12:38] nicolaasjan commented on #19
Same issue with New Moon 28.10.2a1...

I set ` general.useragent.override.palemoon.org`  to:
` Mozilla/5.0 (Windows NT 6.1;rv:52.9) Goanna/20170101 PaleMoon/28.12.0`
And set
` general.oscpu.override`  to:
` Windows NT 6.1`

Now it works again.
Thanks!

I only fear, that for the less tech-savvy people this will be a showstopper...

Now we wait for his next move...

[2020-08-26 13:14] nicolaasjan commented on #19
Maybe it's possible to apply the workarounds in the source code of a next build?

[2020-08-26 18:39] nicolaasjan commented on #19
About an hour ago I had the same issue with the Serpent browser (Basilisk fork).
There was this script in the source of `addons.basilisk-browser.org`:

[code]

Now I checked again and the script is gone!

The script has vanished from `addons.palemoon.org` as well...

[Edit]
There are topics about this on the Pale Moon forum:
https://forum.palemoon.org/viewtopic.php?f=17&t=25084
https://forum.palem

[2020-08-26 20:54] letmeindude commented on #19
I'm gonna close this issue, no need for tweaks anymore.

[2020-09-04 12:48] AroKol78 commented on #13
the error is still there,
if clear the cache is play ok until the cache is full

[2020-09-10 12:09] Feodor2 opened #3 "license"
I know in general that with opensource code anybody can do whatever they want. But i may be do not know something and with this particular code too. I ask someone who knows better to check if its alright from this side.

[2020-09-15 22:15] NickTheNeko0 commented on #3
well you should be safe to use Palemoon for your fork unless Palemoon go's with a different license or you brake the license between Firefox and Palemoon by making it "Closed source" but it mostly depends on the situation and problem.
Form my perspective Palemoon is jealous because Mypal has more users than Palemoon but that's their fault for not supporting WinXP machines

[2020-09-15 22:17] NickTheNeko0 commented on #3
Also "MyPal" is your property so they can't tell you what to do with it, They(Palemoon) made their browser Open Source soo they are the one to put the blame on at first place.

[2020-09-19 07:40] Feodor2 commented on #13
What cache? i disabled all chaches in about:config no any good effect.

[2020-09-19 15:22] AroKol78 commented on #13
23min 18sec stop playing video and moments of sound play -not only Youtube. (image.cache.size , media.cache_size ?)
no matter avc1,v9,360p,720p,720p60.... always stop 23:18 (Firefox52esr,Basilisk52 NewMoon,Mypal and Centaury)
I noticed that the media video has problems with cache overwriting.

[2020-09-20 13:17] AroKol78 commented on #13
maybe there is a problem in buffers for media video segments.
https://w3c.github.io/media-source/index.html#sourcebuffer-segment-parser-loop

[2020-10-01 18:18] Feodor2 commented on #3
As i understand they took code from the firefox and not allowed to go closed source, and this is fair. They continues take new code pieces from the firefox mostly.

Today i noticed moonchild put his name on few specific files
https://github.com/MoonchildProductions/UXP/blob/master/dom/media/webaudio/blink/HRTFDatabaseLoader.cpp
i why wonder why he did this, and what does this mean. Does he declare

[2020-10-04 03:00] NickTheNeko0 commented on #3
Honestly what's their problem with you?? can't they just go bully and be j*rks to other developers?.
Tell them(Them = MoonchildProductions) to come back when they start to support Windows XP and 98/ME.
Both browsers target different platforms(OS) and have nothing to do when it comes to trying to get more PC users, also if they are licensing it as open source they can't do a thing to you without ma

[2020-10-06 16:51] Feodor2 commented on #3
There always was half-allusions and threats but never they never tell strict though, i think that they do not like greatly i publish my alternative browser.

I was just curious why he put his name inside some particular files, cant he put his name inside every file?

[2020-10-07 15:25] AroKol78 opened #14 "Old font problem on winXP"
blurred font
http://spacesimcentral.com/
https://www.eso.org/public/news/?lang

[2020-10-07 17:43] ghost commented on #14
http://prnt.sc/uux538
You can download the fonts and add whatever you want. Whatever you set, the same you have. Deselect the one shown in the screenshot.
Many pages have unclear fonts.

[2020-10-07 19:37] AroKol78 commented on #14
Partial solution to the problem (sometimes letters are too small or overlap).
Similar result at 120% zoom.

[2020-10-10 20:50] Feodor2 commented on #14
http://spacesimcentral.com/
Not blurred but uncomfortable for reading, in the 360chrome it is the same.
https://www.eso.org/public/news/?lang
Yes, bad font is "Helvetica Neue LT ESO"

Block fonts from web and make substitute, i remember i did this i shall write the knowhow.

[2020-10-10 21:20] AroKol78 commented on #14
http://spacesimcentral.com/
![fontsScale](https://user-images.githubusercontent.com/70756447/95665162-f83bfb80-0b4d-11eb-9bfe-9a4b1d928a20.JPG)
120% = twice the zoom
res 1440x900
to block the display of fonts > browser.display.use_document_fonts 0

[2020-10-10 21:37] AroKol78 commented on #14
sometimes letters are too small or overlap  =  browser.display.use_document_fonts 0
simple info https://browser.taokaizen.com/chrome-directwrite/
winxp has a problem because there is no direct2d

[2020-10-16 18:49] AroKol78 opened #12 "FIX github !"
You are having problems with the page you are on [ **https://github.com/...** ]
Install the file from https://github.com/JustOff/github-wc-polyfill/releases
e.g  **github-wc-polyfill-1.1.4**
The latest versions are recommended.
Or check update **Add-ons Extensions - GitHub Web Components Polyfill**

---
most add-ons do not like multiprocessing (e10s) enabled (example "github-wc-polyfill")
https://

[2020-10-17 20:13] THEtomaso commented on #12
Workaround:
`https://forum.palemoon.org/viewtopic.php?f=70&t=25451#p201896`

[2020-10-21 21:53] IP-CAM commented on #12
Great to know, my Browser now works again in Full on Github.
Thenks a lot !
Ernie - IP-CAM  on Github

[2020-10-21 22:17] AroKol78 commented on #12
Thanks are due to @JustOff

[2020-10-22 19:32] jazei-AR commented on #12
for the future, please for ignorant techies like me, could you explain the problem with some text in future posts. I read the post but I didn't understand anything and I had the problem described in this post too and I had to post without knowing that I already had a solution. thank you very much

[2020-10-29 09:38] L3P3 commented on #12
There was a JS error about missing "window.customElements". Was it that? I did not notice issues in GitHub.

[2020-10-29 13:23] AroKol78 commented on #12
@L3P3 example problem https://github.com/Feodor2/Mypal/issues/276

[2020-10-30 22:07] Feodor2 commented on #14
## Inspect element of the page

Right click on the bad font and choose  Inspect element
![image](https://user-images.githubusercontent.com/19492771/97759693-99e1b780-1b12-11eb-8e5e-7f5b992c6181.png)

Look above for **class** word.
![image](https://user-images.githubusercontent.com/19492771/97759950-25f3df00-1b13-11eb-8526-310bb844377f.png)

Copy the value by right click
![image](https://user-image

[2020-10-31 14:46] AroKol78 commented on #14
Magician.
I had no idea about such possibilities.
For the future I will know what to do.
I found better:
**.entry-content**  to  **#page**
**.news-teaser**    to  **#body**
Thanks.

[2020-11-23 21:01] wdlkmpx commented on #12
Current version is github-wc-polyfill-1.1.6.xpi

It works in Mypal, I think this extensions should be included by default in Mypal, things are broken.

[2020-11-24 21:58] AroKol78 opened #11 "something went wrong"
dispute with MCP
https://github.com/Feodor2/Centaury/issues/41
https://github.com/Feodor2/Centaury/issues/40
https://github.com/Feodor2/Centaury/issues/39
https://github.com/Feodor2/Mypal/issues/3
https://forum.palemoon.org/viewtopic.php?f=62&t=27294
https://www.reddit.com/r/palemoon/comments/pexate/pale_moon_developers_abuse_mozilla_public_license/
https://www.reddit.com/r/opensource/comments/pf6

[2020-11-26 17:22] StefCraps opened #15 "WebRTC"
I want webrtc dude is it so difficalte to add that shiiit in mypal? i want to use cams so let to use i'll pay as much as u want i'll donte

[2020-11-26 17:29] AroKol78 commented on #15
https://github.com/Feodor2/Mypal/wiki/Vidochat-and-conference-stuff

[2020-11-29 21:49] jazei-AR opened #10 "¿Is there any way to block (means: non dowload) heavy images from webpage?"
not all websites are made for webmasters, sometimes home made pages are uploaded for common people (0 zero internet) so they upload heavy pics of 500Kb to 1.5 GB 2000pxX2600px even if they get ultra mega hipper hipper cam that take pics of 5 billions of billions pixels they will take and upload those  pics of infinity Mb..
I'd like to protect me of that heavy content.... I'd like filter those ultr

[2020-11-29 22:32] AroKol78 commented on #10
add [uBlock-for-firefox-legacy](https://github.com/gorhill/uBlock-for-firefox-legacy) and options [No large media elements](https://github.com/gorhill/uBlock/wiki/Per-site-switches#no-large-media-elements)

[2020-11-29 23:23] jazei-AR commented on #10
Thanks a lot!!!! you're Jesus!!!! God saves you!!!
and it works toooooo fine!!! Thank you again @https://github.com/AroKol78 you give me the peace to my life!! those heavy pics destroy me!!!

[2020-12-17 14:49] ghost opened #16 "Your browser supports WebGL"
OK https://get.webgl.org/
NO https://speed.cloudflare.com/
Why?

[2020-12-17 19:44] AroKol78 commented on #16
test https://webglreport.com/ (webgl1 for xp, webgl2 not for xp)
I am using `true`
[code]
`https://speed.cloudflare.com/`
error in the code Mypal (not webgl)
should be fixed in the future
[code]
(only the map displays well)

ps.
my two old comments https://github.com/Feodor2/Mypal/issues/218

[2021-03-01 15:19] AroKol78 commented on #11
👍  https://github.com/arkenfox/user.js
"About: Firefox privacy, security and anti-fingerprinting: a comprehensive user.js template for configuration and hardening"
**interesting reading**
- https://github.com/arkenfox/user.js/issues?q=label%3Achangelog
- https://github.com/arkenfox/user.js/issues?q=label%3Adiffs
- https://github.com/arkenfox/user.js/blob/master/user.js

[2021-03-17 10:11] RainerB57 opened #9 "RegEx101.com does not work with Mypal ---- Solved"
I get the message:

Unfortunately it seems your browser does not meed the criteria to properly render and utilize this website.
Please upgrade your browser and come back

I tried with
general.useragent.override.regex101.com
Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:56.0) Gecko/20100101 Firefox/56.0

but it did not help.

[2021-03-18 15:34] ghost commented on #9
"RegEx101.com does not work..."
It's a lie. The page is displayed correctly on a fraction of a second in mypal, then covering. Watches and Link Upgrade Browser.
The address of this link is http://browsehappy.com/ and this is the well-known malware browsehappy.com.
Firefox 87 - Displays the page correctly, but with redirection to buysellads.com. You need to block.

[2021-03-18 18:01] RainerB57 commented on #9
What do I need to block?
I tried http://browsehappy.com/ and buysellads.com.
They are blocked now, but RegEx101.com is still only shown for a second and then the message.

[2021-03-18 18:27] ghost commented on #9
I was looking for a solution. I set the rendering of mypal - gfx.color_management.mode; 1
@Feodor2 is a specialist here and can say something specific.

[2021-03-18 19:05] AroKol78 commented on #9
`@Feodor2` > Mypal
`@Fedor2` > ?

[2021-03-19 20:10] Feodor2 commented on #9
Don't know why, there are no errors in the console, colors stuff wont help, may ask why do they block mypal, also if you say they use malware send them walk pedestrian. There are plenty similar sites.

[2021-03-20 12:31] Feodor2 commented on #9
Well i have asked
https://github.com/firasdib/Regex101/issues/1537

[2021-03-20 13:22] working-name commented on #9
Well-known by who, @kitaro1 ? My adblockers don't signal me, pihole doesn't have that in the default lists.
![browsehappy](https://user-images.githubusercontent.com/16505052/111870885-9635bc80-895d-11eb-98ef-ed170c581a3f.png)

[2021-03-20 15:15] ghost commented on #9
Will browsehappy create a problem? Sorry, but that's what I understood.
https://answers.microsoft.com/en-us/edge/forum/all/repeatedly-got-update-browser-msg-from-numerous/a7e66f5b-ab4d-4da7-a777-8ae0a51d25df

[2021-03-20 15:28] working-name commented on #9
It's just a presentation site for the major currently maintained browsers. If it doesn't offer anything for you to download and run, doesn't display ads, doesn't do anything malicious why would it be a problem? It's also apparently made by the wordpress organization not known for malicious activity. The only threat to your privacy is the fact that they employ Google's analytics and typekit.com for

[2021-03-20 19:07] ghost commented on #9
First of all -  shows   SSL v3 is required Netcraft,
Secondly, Nectraft has partial reservations,
https://www.fotosik.pl/zdjecie/650e8073103bb1bf
Netcraft is a trusted blocker.

[2021-03-20 19:27] working-name commented on #9
@kitaro1 Nothing wrong with being alert on the internet, kudos for putting time into your own security - that's your responsibility. But jumping from not understanding what SSLv3 or Threat Level 1/10 means to making accusations that it is a "well-known malware site" is irresponsible.

Again, I'm not trying to discourage you about being vigilant and safeguarding your privacy/security. On the contra

[2021-03-24 09:43] grof017 commented on #9
![untitled](https://user-images.githubusercontent.com/81296923/112288416-9996b400-8c8d-11eb-97fc-68c766dd7a21.png)
Try only to check this, nothing else.  It work for me.

[2021-03-24 16:30] RainerB57 commented on #9
@grof017: Thank you. Your Tip did it for me:
Tools - Preferences - Content - JavaScript Enable WebAssembly checked.

Also thanks to all the others who helped especially to @Feodor2  for his work with this  fantastic browser.

[2021-05-01 13:12] JeanPaulLucien commented on #9
App initialized
Loaded initial state
Store configured
This browser does not have lookbehind support for the javascript flavor
This browser does not have named group support for the javascript flavor

[2021-05-01 13:13] JeanPaulLucien commented on #9
Actual issue on 29.0.1x32. I see:
Unfortunately it seems your browser does not meed the criteria to properly render and utilize this website. You need a browser with support for web workers and Web Assembly.
Please upgrade your browser and come back

[2021-05-01 16:11] RainerB57 commented on #9
It works with the browser.
As written above:
Tools - Preferences - Content - JavaScript Enable WebAssembly checked.
And then it works.
That is why I closed the issue and renamed it ending with solved.

![Einstellungen](https://user-images.githubusercontent.com/37036093/116788181-8820a300-aaa8-11eb-8548-7fb9dd135ea8.jpg)

[2021-05-01 16:21] JeanPaulLucien opened #8 "[Addon] NoScript"
I have installed NoScript 5.1.9 (latest official version for Firefox 52). But I suspect that this version doesn't work and not block scripts. Waiting for confirmation.

Maybe actual fork there is?

[2021-05-01 16:26] JeanPaulLucien commented on #8
https://github.com/hackademix/noscript/network/members
I tested here, clicking on buttons in left menu. I see nothing. Maybe it's typical for MyPal 29.0.1

[2021-05-01 19:09] Feodor2 commented on #8
Noscript is for blocking scripts and buttons to function use scripts too.
So you are to allow scripts then on this site, usually allowing scripts on the domain of the site is enough and scripts from other domains usually used fro ads spying and tracking leave them blocked

[2021-05-12 10:45] AroKol78 commented on #11
a large amount of knowledge (tutorials / references) https://www.w3schools.com/

[2021-05-26 18:06] AroKol78 commented on #14
@spyrosmas (from https://github.com/gorhill/uBlock-for-firefox-legacy/issues/305#issuecomment-848899291)

if the page has a wrong font, I change the font appropriate for a specific page in file **UserContent.css**
example
[code]

[2021-05-27 13:18] AroKol78 commented on #11
excellent knowledge of htlm/css
https://developer.mozilla.org/en-US/docs/Learn/HTML
https://developer.mozilla.org/en-US/docs/Learn/CSS
https://www.w3schools.com/html/default.asp
https://www.w3schools.com/css/default.asp

you can even modify css with ubo - just find the appropriate class
`example.com##exampleclass:style(background: black !important;)`

[2021-05-27 15:51] AroKol78 commented on #11
👍 🥇 https://www.w3schools.com/css/default.asp
example for https://www.mypal-browser.org/ modify **color** and **font** with **ubo**
[code]

[2021-05-28 19:58] spyrosmas commented on #14
The problem with UserContent.css specific solutions like http://www.floppymoose.com/ and others is that they require too much quirk code and maintenance to overcome what "Allow pages to choose their own fonts, instead of my selections above" setting does with just one click. With UserContent.css remote fonts will continue to download and render inside a browser, (which is also a memory hog and sec

[2021-05-28 20:23] AroKol78 commented on #14
**ubo** "You can prevent web fonts from being downloaded"...
info https://github.com/gorhill/uBlock/wiki/Per-site-switches#no-remote-fonts

[2021-07-04 12:50] JeanPaulLucien opened #7 "Нужна рабочая версия аддона Stylish"
I need .xpi file or link where I can download a workable version of "Stylish" addon. I need it for some task and will share result.

[2021-07-06 14:45] JeanPaulLucien commented on #8
Official page: https://noscript.net/getit

https://secure.informaction.com/download/releases/noscript-5.1.9.xpi
https://secure.informaction.com/download/releases/noscript-2.9.0.14.xpi
https://secure.informaction.com/download/betas/noscript-2.9.0.1rc1.xpi

 latest NoScript version compatible with Gecko 46 - Gecko 56 is 5.1.9 (SHA256);
latest NoScript version compatible with Gecko 13 - Gecko 45 is 2

[2021-07-06 14:50] JeanPaulLucien commented on #8
Gecko versions and applications versions: https://developer.mozilla.org/en-US/docs/Mozilla/Gecko/Versions

[2021-07-23 17:55] Feodor2 commented on #7
Stylish 2.0.7 из caa-archive

https://userstyles.org/styles/150464/everlasting-yandex
show сss code - скопировать - вставить в новый стиль - работает вроде что ешё надо?

[2021-07-26 18:58] AroKol78 commented on #13
new messages about this error
https://msfn.org/board/topic/182647-my-browser-builds-part-3/?do=findComment&comment=1202804
also take a look at hidden text "Reveal hidden contents" and "the fixed media/libcubeb/src/cubeb_winmm.c on Pastebin" https://pastebin.com/Eh7reucN

[2021-07-28 14:39] JeanPaulLucien commented on #7
I don't understand. Can you share xpi-file?

[2021-07-29 03:20] roytam1 commented on #13
if you want to have a diff (or cherry-pick), I pushed my version here:
https://github.com/roytam1/UXP/commit/85149582f1000cd801350ebaa73151872c521d4f

[2021-07-30 13:35] Feodor2 commented on #7
https://github.com/JustOff/ca-archive/releases

[2021-07-30 16:03] kaiiisen opened #6 "Can't edit with Wordpress."
Hi, since 29.2.0 it seems I can't edit my Wordpress posts anymore.

It only exhibits a blank page.

Wonder if you can take a look on that, please.

Also, just a little something else, you can't access GitHub join page properly with MyPal either(had to join using my phone).

Thank you for all your work.

[2021-08-01 20:09] Feodor2 commented on #6
i can look into wordpress upon next week

[2021-08-02 03:04] roytam1 commented on #13
BTW upstream has just accepted the patch.
https://github.com/mozilla/cubeb/pull/656#issuecomment-890597950

[2021-08-02 06:37] Feodor2 commented on #13
Great, i already have applied the patch on the new centaury.

[2021-08-12 03:31] Feodor2 commented on #6
I have reached my wordpress at last.
I had old worpress where editor works fine, it suggested to update and i did and got blank page too, sure update broke the edit thing.

I poked it and could fix.
in the wp-includes\js\dist there are file **editor.min.js** to poke. It is obfuscated nothing to do with it, fortunately there is non obfuscated version **editor.js**. First copy it upon obfuscated ver

[2021-08-24 14:12] Feodor2 commented on #3
Hey folks
Enviouses not going to leave us. Today they they fall upon me all together.  Please elaborate may be i do not get something.
https://github.com/Feodor2/Centaury/issues/41
I think the source code is well available for anyone and can take it to do anything.

[2021-08-24 14:19] wolfbeast commented on #3
Please read and understand the MPL 2.0 thoroughly. If you have trouble understanding it, get legal counsel.

For example:

This is incorrect. it is not Public Domain.

This is only true if and and for so long as the Open Source license is adhered to.
And don't tell me to shut up about the rights I have under the MPL 2.0

[2021-08-24 14:26] Feodor2 commented on #3
So whats wrong, do you want it become not public? There in the Mozilla license written that it must be public, and you must provide your sources too.

[2021-08-24 14:29] wolfbeast commented on #3
We are in compliance and provide the source code. You are not.

[2021-08-24 14:36] Feodor2 commented on #3
like it or not but i provide the source code too, and i pointed you where to look for what is your problem?

[2021-08-24 15:09] Feodor2 commented on #3
You post leads to misinformation

Here the right paragraph of https://www.mozilla.org/en-US/MPL/2.0/

**3.2. Distribution of Executable Form

If You distribute Covered Software in Executable Form then:

    such Covered Software must also be made available in Source Code Form, as described in Section 3.1, and You must inform recipients of the Executable Form how they can obtain a copy of such Sour

[2021-08-24 15:36] Feodor2 commented on #3
You bear all the misinformation, you distort mozilla license.

[2021-08-24 15:38] BasBock commented on #3
I always though the open source community was all about helping each other and making things better together, all this talk sounds more like how large powerhungry corporations would act...

[2021-08-24 15:53] wolfbeast commented on #3
No, in fact he's applying the Mozilla license to the letter here. Nothing is distorted except your misinterpretation of the license. Like I said before if you can't understand your obligations under the MPL, get legal counsel who can explain it in a way you can understand.

Maybe it's news to you but individuals also have legal rights under the copyright act. In fact, it is the default unless righ

[2021-08-24 15:54] Feodor2 commented on #3
Tobin i wont go for your manipulations. I consider that it is all right with rules of the license and this article.

[2021-08-24 16:20] Feodor2 commented on #3
This is exact lie, you cited the license as you see fit.

[2021-08-24 16:53] Feodor2 commented on #3
Tobin you may edit your posts of course, but your older lies remain preserved.

[2021-08-24 17:33] Feodor2 commented on #3
Do you want to say you typed license paragraphs by hands? Why. If wanted cite exact paragraph you copy paste.
May delete though yes. Until then let other people can see what you corrected.

[2021-08-24 17:53] wolfbeast commented on #3
(OT)
@Feodor2 All edits to posts in these issues are fully visible to anyone as diffs, so I'm not sure what your complaint is.

[2021-08-24 20:43] wolfbeast commented on #3
Also, just "moving elsewhere"[[1]](https://msfn.org/board/topic/182647-my-browser-builds-part-3/page/35/?tab=comments#comment-1203798) and re-publishing it elsewhere without solving the source code issues will not solve the licensing issues and you would still be in violation of the MPL.

P.S. Said thread the quote is from also indicates you clearly understand the issue at hand, so I won't accept

[2021-08-25 15:10] Feodor2 commented on #3
I am ready to remove your code property Tobin. But i do not know what lines of this whole code is your property, and it is not any clear way how to determine this code lines from lists with some unknown commits which not exist in this source code.
So point code lines for remove in this source and with reasonables proof that it is actually yours property source code

[2021-08-25 15:56] Feodor2 commented on #3
Then let begin
where your source code in the commit 0d19b77d3eaa5b8d837bf52c19759e68e42a1c4c

How it prove that its code is written by you and not taken elsewhere.

[2021-08-25 20:24] Feodor2 commented on #3
So lets go to the next: e72ef92b5bdc43cd2584198e2e54e951b70299e8

As i understand i must remove only your property code lines, and can keep what is left. I ask you to point where it is, then i shall remove it and thats all.
For example in the commit above application/basilisk/branding/official/appname.bmp not your property for sure, why i must remove it?

[2021-08-25 20:24] wolfbeast commented on #3
I see what you're trying to do here.

The original source of code is irrelevant because the person making the **modification to the source code** in question is Tobin. Unless the Author is claimed to be someone else (which generally only occurs for **verbatim** patch application), the **modification** will be authored **by whomever is the author of the commit**. This is why git has the option to s

[2021-08-25 21:20] Feodor2 commented on #3
Point where these modifications authored by Tobin in this code source.

[2021-08-25 21:50] dmiranda12 commented on #3
Even if Tobin manages to identify "his" modifications, they are still open to be used by whoever wishes to do so, in the same manner he used someone else's modifications over the original firefox-netcape code. What a dope.

[2021-08-25 21:54] dmiranda12 commented on #3
"This is why git has the option to specify both author and committer of commits, so someone else than the author of the modification can commit it to a tree" Laf. Sue me.

[2021-08-25 22:37] dmiranda12 commented on #3
"I think you need to re-read MPL Definitions in Sections 1.1, 1.3, 1.4, and 1.10. That should clear up the confusion." I'll get my lawyers to read the footprint, roflmao.

[2021-08-25 23:12] Feodor2 commented on #3
I ask about the same commit above, i cannot find files set match in this source, elaborate clear way how to remove this commit?
I shall do remove else what is match without question

[2021-08-25 23:41] dmiranda12 commented on #3
I see no reason for you to remove anything, nor do I see any validity in the glibberish exposed above.

[2021-08-25 23:43] wolfbeast commented on #3
@dmiranda12

You should. The MPL is very clear in that it allows authors to rescind rights to people who do not adhere to the license. Feodor2 did not adhere to the license and within the terms of the license Tobin has retracted the right for Feodor2 to use his modifications.

@Feodor2

So, are you planning to have a back-and-forth about every commit of the list that Tobin has given you? I think y

[2021-08-25 23:59] dmiranda12 commented on #3
At most, but then not necessarily, you COULD add something like "modded from sweettooth's (to make up a name) previous modification of firefox-netscape code (or whatever) at ..." wherever sweettooth did so.

[2021-08-26 00:01] dmiranda12 commented on #3
"You should. The MPL is very clear in that it allows authors to rescind rights to people who do not adhere to the license. Feodor2 did not adhere to the license and within the terms of the license Tobin has retracted the right for Feodor2 to use his modifications." He doesn't have the right to do so.

[2021-08-26 00:01] dmiranda12 commented on #3
At most, with proof, he can ask for recognition in the used modification.

[2021-08-26 00:03] dmiranda12 commented on #3
"You should." I am. They are working overtime on it. Laf.

[2021-08-26 00:11] dmiranda12 commented on #3
"in the used modification" of a modification, that is to say, over which sweettooth (again, just using a name for the sake of it) can prove "ownership". Lmao.

[2021-08-26 00:12] dmiranda12 commented on #3
I see your tooth is letting you write again.

[2021-08-26 00:20] dmiranda12 commented on #3
Properly prove "ownership" of modified opensource code, first, sweet heart, then start threatening something more than glibberish legal action. It is not the first time I see you using these trolling-FUD actions.

[2021-08-26 00:23] dmiranda12 commented on #3
Shame on you!

[2021-08-26 00:28] dmiranda12 commented on #3
"You have received notice of non-compliance with this License from such Contributor, and You become compliant prior to 30 days after Your receipt of the notice." And I have not received any such notice. I'm just exercising my right of self-expression, with no association whatsoever with whoever may have received, or not, such threats.

[2021-08-26 00:29] dmiranda12 commented on #3
MS wanna be.

[2021-08-26 00:40] dmiranda12 commented on #3
oops, I meant to write puto amo wanna be.

[2021-08-26 00:49] dmiranda12 commented on #3
Or wanna be, a secas, sweet heart.

[2021-08-26 03:33] Feodor2 commented on #3
You are right indeed, i shall no publish any on UXP or earlier code bases.
Meanwhile

Here comes excellent solution. I transfer this repository to new owner then it will cease being invalid,

[2021-08-26 04:37] Feodor2 commented on #3
okey it has been terminated for me, what about other people?

[2021-08-26 04:55] Feodor2 commented on #3
So other people indeed have rights and grant to take your contributions.

[2021-08-26 06:23] ghost commented on #3
It's becoming a bit harder to follow all the legalese (I'm a programmer, not a lawyer), but I think what they're saying is that you have to audit your code to remove everything Tobin did. So far courts seem to have upheld the notion that individual contributors don't give up their rights to their code if they put it under a conditional license (even a fairly permissive one) rather than making it p

[2021-08-26 10:38] wolfbeast commented on #3
Let me condense it without legalese:
Tobin has retracted his grant (= right to use his authored code). This means your repo in its current state is non-compliant with the licence from the moment he retracted the grant, and _none_ of the code in the repo (even your own!) can be used by _anyone_ else as long as it is non-compliant with its license.
In turn, that also means you can't transfer it to a

[2021-08-26 11:11] dmiranda12 commented on #3
"So, are you planning to have a back-and-forth about every commit of the list that Tobin has given you?" If I were Feodor, of course I would do so. I would ask for proof of ownership of the modifications being now modified. with the same degree of detail reclaimed from him.

[2021-08-26 11:59] dmiranda12 commented on #3
"Are you saying you also intend to or are currently violating the MPL?" Nope. My skills are not such. Are you gonna send them marines, gato?

[2021-08-26 12:39] yongsu101 commented on #3
let's see some legal basis for this extended bs
like hell this guilt by association crap follows from the mpl
what you do is an attempt to alter or restrict the recipients’ rights in the source code form
you lot are like criminal racketeers
you don't do gang raids on github if you want to protect the license
you want to punish feodor because he continued xp support that you don't like
you always h

[2021-08-26 13:29] dmiranda12 commented on #3
https://www.youtube.com/watch?v=4QA30qkRYy8

[2021-08-26 14:03] Feodor2 commented on #3
I don't clear understand. You retracted the grant from me only, okey i step aside, the code is left no longer associated with me,  how you will retract grant from the code?

[2021-08-26 14:45] Feodor2 commented on #3
Okey this all code here including your will be removed at all, will it be point of validity?

[2021-08-26 14:45] ghost commented on #3
I think you might have the wrong perspective on the code. If you think of the right to use the code as similar to the right to lease an apartment, you're being evicted for violating the rental agreement and asking why you can't sublet to someone else and why anyone you've sublet the apartment to is also affected.

That is, you lost the right to sublet as well as to live there, when the landlord te

[2021-08-26 15:05] yongsu101 commented on #3
bs like this you rarely see
there is no provision in the mpl like you pretend
as long as who forks from here provides the source they are free to do whatever
even if you were right anyone who got the source before your gang raid is still free if they publish source
there can never be retroactive application of your crap, that's why you say currently and hope people don't notice what that means
eve

[2021-08-26 15:10] wolfbeast commented on #3
Keep in mind that recipient's rights are no longer present when the source code is no longer in compliance with the license.
Please read what I wrote _carefully_. I've condensed it down for people to make the threshold of understanding a bit lower, and that's all I did.

If you want to get a full legal explanation and interpretation of the MPL I strongly suggest you talk to a lawyer. Take the MPL

[2021-08-26 16:44] Feodor2 commented on #3
So yes it is clear now i clean up the code, it become valid state, transfer to new owner and so on...
Then i never take myself your code, though i may take the code of any developer who does not related to you and your code.

[2021-08-26 17:45] yongsu101 commented on #3
why do i have to talk to a lawyer?
why does feodor have to talk to a lawyer?
why don't you lot talk to a lawyer since you're making these bs claims
you have the gall to say i'm making mpl into bs
it's you doing that when you abuse mpl to have vendetta and make claims not in mpl
you can't win argument by puffing up to look confident and authoritative, you know
otherwise you'd win every time you tal

[2021-08-26 18:38] Feodor2 commented on #3
I would like to be consulted though about mozilla license about. What is the shit about that one may take mozilla, code change few lines there and then declare left code its property. For example one mostly big their modification was recently about remove the second line of every file about * vim: this is great, with thousand files done  - save a lots of space. Ok i take intact firefox code, and d

[2021-08-26 18:58] ghost commented on #3
I was speaking generally about how people tend to want to do that. But more specifically, I'm talking about how people doing various rebuilds have been harming the brands of both Binary Outcast and Moonchild Productions over the years, using the servers/support infrastructure/branding, etc. It's merely an observation that such behaviors tend to result in a growing desire to protect what one has bu

[2021-08-26 22:02] yongsu101 commented on #3
of course and you should if you can
i meant how they say talk to a lawyer as if they're lawyers themselves
they think if you talked to a lawyer you'd know you have no hope
fools don't think that if you really got a lawyer he'd do everything to expose their crap
wouldn't be hard for any decent lawyer when even layman can see its bs vendetta

thanks dude for testifying in public that this is vendett

[2021-08-26 22:29] wolfbeast commented on #3
I think you need to take it down a peg, @yongsu101 Stick to the facts, leave speculation out the door, and do what I said you should do before you just dig a big ass hole for yourself to fall into, i.e. talk to someone who can explain the license to you. I'm not even sure what stake you have in this discussion or why you are so fervent in writing long lists of high ground accusations about what do

[2021-08-26 23:26] yongsu101 commented on #3
i'm perpetuating conspiracy theories?
3 people from same outfit show up with same claim within hours
this is supposed to be completely accidental
even though one of these people says it was all discussed in private
and that his boss is beyond caring
you should train your underling athenian how to lie like a pro

spoken from personal experience it seems
this isn't the pale moon forum where you can

[2021-08-27 00:50] ghost commented on #3
You know, I actually came primarily because I wanted a chance to help bring you back into compliance with the license so you wouldn't have to worry about your project getting shut down. You really think my pointing out steps you could take to get back into compliance is something malicious?

What you've said about me setting out to harm your project might very well be libel, you know that? I try t

[2021-08-27 00:54] wolfbeast commented on #3
Well, @yongsu101, you can try to provoke me al you want with personal insults or asserting we're a "gang" or that Tobin is "my boy" (nothing could be farther from the truth. It's quite a hilarious notion 😆 ) but it won't do anything aside from wasting everyone's time. For someone asserting "bs getting in the way" you're throwing a lot of excrement around yourself.

Inform yourself before you scree

[2021-08-27 01:13] sparty411 commented on #3
@Feodor2 have you considered simply ignoring these guys? They can threaten you, and posture all they'd like, but I think it might be difficult for them to take legal action, seeing as how you're located in Ukraine 🤔.

[2021-08-27 01:13] bromichaelhenry commented on #3
It seems to me that under every release there are two compressed files that
say source code.

https://prnt.sc/1qkxsyb

So, if it is there, and it took me all of 10 seconds to find, then what
exactly is the problem. I am just a user but it seems to me, Moonchild,
that you are complaining about nothing here.

Regardless, the source code is there, it is easy to find especially for a
non programmer li

[2021-08-27 01:19] ghost commented on #3
I noticed exactly what you're talking about. Try downloading one of those files. It's empty and contains no source code, only a README because that's all the repo the executables were posted in contained. That is basically the entire problem, if those files marked "source code" actually contained it, I can assure you I would not be here.

[2021-08-27 01:20] bromichaelhenry commented on #3
Regardless of whether or not they can take legal action, I'm still curious
about why? The source code is there for every release, it's Github, they
automatically do it. So why are they saying the source isn't there?

On Thu, Aug 26, 2021 at 8:13 PM sparty411 ***@***.***> wrote:

--
Bro. Michael Henry
Associate Pastor
Monticello Christian Church

Even in our sleep, pain which cannot forget, falls d

[2021-08-27 01:21] bromichaelhenry commented on #3
Ok my bad. Feodor, just upload the zipped source files after every release,
problem solved.

On Thu, Aug 26, 2021 at 8:19 PM Bro. Michael Henry <
***@***.***> wrote:

--
Bro. Michael Henry
Associate Pastor
Monticello Christian Church

Even in our sleep, pain which cannot forget, falls drop by drop upon the
heart until, in our own despair, against our will, comes wisdom through the
awful grace of G

[2021-08-27 01:26] yongsu101 commented on #3
ladies and gentlemen, that was mr technicality himself, big man matt tobin with his amazing stories
nice that your cover story is all great bullies think alike
don't even need to coordinate dick moves, happens automatically
you'd be funny if you weren't trying to destroy a good mans years of work
i see you don't deny you're only using the mpl bs as pretext to stick it to feodor for past grudge
you

[2021-08-27 02:09] yongsu101 commented on #3
didn't want to come back but this must be said
what you said there my friend is a bold faced lie
there is a very simple shortcut and that's matt tobin stops being an ass
the mpl doesn't force him to screw all feodor's users over a vendetta
he can settle the moment feodor attaches source files, nothing preventing him but body weight of ill will
if you deny this shortcut you admit he is clinically i

[2021-08-27 02:17] yongsu101 commented on #3
provisionally your ass matt tobin
your bluff has been called and you can't do nothing about it

[2021-08-27 02:18] jobbautista9 commented on #3
@yongsu101 Actually it is Feodor here screwing over his users because he couldn't simply follow a simple free software license.

Free software != public domain

[2021-08-27 02:22] yongsu101 commented on #3
classic victim blaming @jobbautista9
learn to read and you'll see what i said above about why feodor doesn't get all legalese

[2021-08-27 02:28] jobbautista9 commented on #3
Feodor is not really a victim here. He has done this himself.

I'm not even a native English speaker (Tagalog is my native tongue), yet I understand the MPL very well. If Feodor can't understand the MPL, maybe he shouldn't fork MPL-based projects then. He should go for BSDs, MITs/X11s, and public domain software instead, which is a lot easier to understand.

[2021-08-27 04:35] codenameneptune commented on #3
i hat M.A.T for most of what he do to us but cant find falt wth his interpitaton of the public license. Sucks @Feodor2 has to stop b/c of this. Surly someone else can take over and protect from him.

[2021-08-27 05:49] Feodor2 commented on #3
I refuse to remove commit 5f8de423f190bbb79a62f804151bc24824fa32d8 this is not related to you in any way and not is your contribution.  Next explain where yore drag out date of September 6th.

[2021-08-27 06:18] Feodor2 commented on #3
What a shit license, but according to this i contribute similar code and it will become my contribution.

I not going to ask every commit told you this alredy, i only wanted to clarify this particular commit and about removing lines of code, look my example above, thats all.

[2021-08-27 06:34] jobbautista9 commented on #3
@Feodor2 If you didn't like the license in the first place, why did you fork a project licensed under the MPL then?

As I suggested above, you should just go for permissive licenses or public domain instead, if you can't understand licenses that employ some sort of copyleft like the MPL.

[2021-08-27 06:53] Feodor2 commented on #3
Yes i do not know all your contributions, you have provided me the list with commits i work according it, dont tell me then that you have contributions on ESR24 or ESR38.

[2021-08-27 19:46] bromichaelhenry commented on #3
Actually Feodor, you could just distribute sources on a CD/DVD and charge
people to mail it to them.

Also, yes they can sue but the cost of an attorney to sue preludes most
from doing it. Then it comes do to the court to decide what to do and how
to enforce it across country borders. Most cases  I have seen or have been
a part of, the ruling has been to give the offender time to correct the
issue

[2021-08-27 19:58] sparty411 commented on #3
Call these assholes on their bluff, and just ignore them. They aren't going to do shit. Even if they intended to, they would be unsuccessful, and they know it. They're just hoping to bully you into giving in to their demands. Fuck Tobin, and fuck his handler, Moonchild.

[2021-08-27 20:48] bromichaelhenry commented on #3
To be honest Matt, there has been crap from both sides. You are acting like
you want to throw him in jail and the courts here in the US are not like
that with these kind of cases. The SCO vs IBM case has been going on for
almost 2 decades so license cases could take some time. Most of the time,
the courts will say either get in compliance or get fined.

I do not know the history between you guys n

[2021-08-27 20:57] bromichaelhenry commented on #3
5. Termination
5.1. The rights granted under this License will terminate automatically if You fail to comply with any of its terms. However, if You become compliant, then the rights granted under this License from a particular Contributor are reinstated (a) provisionally, unless and until such Contributor explicitly and finally terminates Your grants, and (b) on an ongoing basis, if such Contribut

[2021-08-27 21:11] bromichaelhenry commented on #3
How about you stop and understand I spent hours last night downloading the sources for MyPal. All the sources are there. It's in compliance.

It's the other project Centaury that currently doesn't have code. If you would stop being childish, grow up and attach issues to the correct project then something can be done.

Different project, different breach, he has cure time. This issue should be mark

[2021-08-27 21:24] ghost commented on #3
I can definitely say that my own personal issues with Feodor's project will be resolved by simply using GitHub as intended. However, the grant retraction thing is something he'll have to settle with Tobin himself. We actually did create issues on the Centaury repo that didn't have code, and they were already closed. Somehow the discussion moved over here.

I will say though, you'll probably have a

[2021-08-27 21:31] bromichaelhenry commented on #3
No sir by that logic, Firefox and Palemoon are the same project since they contain some of the same code. Different projects, different breaches, get a lawyer to read for you.

From Basilisk's homepage:

Basilisk is a free and Open Source XUL-based web browser, featuring the well-known Firefox-style interface and operation. It is based on the Goanna layout and rendering engine (a fork of Gecko) an

[2021-08-27 21:38] ghost commented on #3
It is true that Pale Moon and Basilisk are separate browsers. However, notice it says "builds on the Unified XUL Platform (UXP)"? That is where the majority of the contributions were actually made. UXP is used as a base to build Pale Moon, Basilisk, Interlink, Ambassador, and many other applications. So the UXP platform code that's shared is the main problem.

[2021-08-27 21:54] bromichaelhenry commented on #3
Then get a lawyer and stop griping about it here. And yes the courts will judge them based on projects. I cannot sue Mozilla for what Palemoon does, that is absurd. Two separate projects. Also, to sue you will have to prove damages.  Regardless, stop bullying and get a lawyer and see. A lawyer will tell you like he told me with my sister's cancer: until she dies, we couldn't sue because of no dama

[2021-08-27 21:57] bromichaelhenry commented on #3
And I understand that, but dealing with lawyers isn't cut and dry. Just because one project screws up, you can't demand another one to stop.

[2021-08-27 22:08] bromichaelhenry commented on #3
You brought it to everyone following this. You have been a bully and have lied. Fact is Centaury is not DOWNSTREAM from MyPal, it's DOWNSTREAM from Basilisk. Keep spreading your lies.  I would LOVE to see you try to sue Feodor and the Centaury project. It will be as entertaining as SCO vs IBM.

[2021-08-27 22:09] bromichaelhenry commented on #3
@Feodor2 report him for bullying.

[2021-08-28 04:35] Feodor2 commented on #3
People please dont argue with him and spongers, and don't advice me ignore and such else, this is counterproductive.

Tobin wants to destroy my browser and then roytams too of course, this is the fact and axiom, and he always will be seeking the opportunity. So let we do not allow him to do this today. My fault of course, but why i have created this topic in the first place, you could come to help

[2021-08-28 18:13] sparty411 commented on #3
@mattatobin

Cry more.

Do something about it lmao.

I respect software as far as it respects me. I'll proudly abuse the living fuck out of Microsoft's IP, thank you very much 🏴‍☠️

[2021-08-28 21:34] yongsu101 commented on #3
matt tobin your poker face here is almost believable if we didn't know better
too bad there is google search and people can see your true face
how you behave when you don't have to pretend to be all business
if you think we're toxic it's because you pushed us into your toxic crap
you're toxic by nature and the biggest bane to your own team
moonchild is paranoid but he also has skills and is not a

[2021-08-28 21:56] yongsu101 commented on #3
i know you're saying this so microsoft shuts people up for you
like you threatened here before about how microsoft owns this place
grow up and get real
how the hell you know those who use feodor's browsers don't have proper xp license?
i guess you go blind when people talk about their old hardware that only works well with xp
if msfn has xp embedded updates thread doesn't mean all users there do t

[2021-08-29 00:26] yongsu101 commented on #3
who the hell is this group you keep talking about?
there is individual developer feodor
there is individual developer roytam
there is a forum called msfn where there is one thread by roytam
i think the reason is he prefers to do support there over github
yes a big thread with many parts but only small fraction of msfn members care about this thread
feodor very rarely posts at msfn at all, he does

[2021-08-29 00:57] codenameneptune commented on #3
It become clear that both group are full of toxic peple. I wach from sideline for long time and we have group who act terribl but right and a group that full of hate.

Revove M.A.T contribution cant be done and deff not before 6 september and no group back down i think so eems like all group are tainted. I no longer trust. So I look into option for future.

[2021-08-29 02:12] jobbautista9 commented on #3
Well there is. @Feodor2 can just scrap this whole project that is based on UXP, and just start forking from esr-52 or 56 again. Then pull patches from Waterfox. UXP people are now finally left alone by Feodor and his XP hackers, and their rights not violated. XP hackers still get a regularly updated browser for their OS. It's a win-win.

Now the question is, will @Feodor2 commit into complying wit

[2021-08-29 02:42] yongsu101 commented on #3
yes of course it's better than your so called genuine if you want to use on xp
you don't support xp and he does, deduce from that somehow
if there was a lot of choice why would we use you?
very few people did before firefox dropped xp support
i bet at mozilla many also think pale moon is a hackjob
thing is moonchild has done pale moon as full time job
feodor and roytam only have a few hours on wee

[2021-08-29 03:58] bromichaelhenry commented on #3
Oh, I care about people's property, I just know there are ways to do this and you have went off the deep end. I also note that you didn't deny that you are a bully.

The lie is simple. Each software license is a simple 2 party contract. You asked what license my sister broke, she didn't break a contract, the other party did and until she dies, we can't sue. Her dying will be our damages. The MPL i

[2021-08-29 04:00] bromichaelhenry commented on #3
Nope because I see how you have responded to others so I am like why am I different?

[2021-08-29 04:07] ghost commented on #3
To be perfectly blunt, my opinion at this point is that nothing will get done by continued talking and attempts at reasoning or persuasion. Words are ultimately meaningless if they are not backed up by action. I think every possible point has been made by all sides. Courts and judges exist to act as neutral third parties to enforce contracts because people cannot always resolve disputes amongst th

[2021-08-29 04:09] bromichaelhenry commented on #3
Also, to let you know, Matt, I love Pale Moon, I love your work (your E-Mail client), I am amazed by what you can do and if I could be of your caliber, I probably would be the same. I used to own an IT business 20 years ago, and I understand having your work used in ways that it isn't supposed to be. You not only have to pick the battles you fight, but you have to chose HOW you fight them.

[2021-08-29 04:16] bromichaelhenry commented on #3
If this was me and these was my projects, I would have already cloned them and be working under a new account.

[2021-08-29 04:27] bromichaelhenry commented on #3
My last comment and if anyone wants to email, it's bromichaelhenry@gmail.com

I do apologize for the insults and me being rude to you Matt. I do avoid you because it does seem like you get rude and I know that my passion would and does get on programmers nerves so I do hold back.

Lastly, and off-topic, your comment about "getting XUL back to a workable state", I thought when Mozilla dumped it, it

[2021-08-29 08:16] yvnoz commented on #3
I think this whole thing is just ridiculous. If you make use of someone else's code that's (gracefully!) been shared with you under an open license, then the least you can do is stick to that license out of respect for the people who have put work into what you are using freely (both as in beer and as in freedom).
If you don't stick to the rules of the game, then it's only fair that people say you

[2021-08-29 10:40] Feodor2 commented on #3
Then consider Tobins overall damage to the whole Palemoon project even greater than benefit of his contributions against his jealousy, intolerance, mordancy and such. No decent person would colaborate with him, short time may be possible until he uncover his true nature. So Palemoon rather became sort of totalitarian sect, sure some people like sects and would join, but only some.

[2021-08-29 12:01] Feodor2 commented on #3
Ah i remember, at that time i was present there, i though you can change, indeed then you for a time behove calmly stopped your assaults at others. However your nature is your nature, what other nick do you have - binary outcast.
Tell fair that you just want to destroy mypal.

[2021-08-29 12:30] Feodor2 commented on #3
Greetings to another of Tobin's Witnesses

Of course i get that i failed, i shall remove Tobin's contributions. Rather tell why other developers did not push the claim of the license violation at first time, only he.

[2021-08-29 12:58] yvnoz commented on #3
So you are calling everyone involved in the project you lean on and 9 out of 10 people voting in that quoted poll "not decent" then, implying they have no real voice of credibility, just because they disagree with your view... :thinking: sounds rather fascist to me.

Are you a firm believer in thought crime? How he feels about mypal (justified or not) is not important for licensing.
Feeling a cert

[2021-08-29 13:15] wolfbeast commented on #3
My answer to that one is very simple: I didn't feel it was _necessary_ because you had already been notified and were taking steps to come back into compliance. I gathered there was no need to send out a second "official" notification when one was already made since I assumed it was a simple matter of ignorance or mistake - which is exactly why the MPL allows for a first offence without immediate

[2021-08-29 13:47] Feodor2 commented on #3
Yes i did not understand, this is about not hiding source, and when i provided the source i though it will be enough.
Meanwhile you also may not hide your source because of this license, done with me well, others if they would after all this, still can use your precious without your blessing.

[2021-08-29 17:10] GandalfdjhRSO commented on #3
For my two cents: Feodor2 needs to simply follow the license. If he has enough intelligence he will simply follow what has been previously stated and listed below:

- Feodor has violated the terms of the MPL which granted the use of Tobin's code.
- Tobin is completely within his right to choose to exercise his right of terminating the grant of use under the terms of the MPL.
- Feodor must now remo

[2021-08-30 11:11] ghost commented on #3
Toby and Munchild, you miserable greedy people. You'd better improve compatibility and performance than moan on the forums like grumpy women. Demand rights in your U.S. and Europe, we in Russia and Ukraine shit at you from a high bell tower.

[2021-08-30 11:35] GandalfdjhRSO commented on #3
Amazing how people are willing to show that lack of intelligence! Artenaki sticks and stones can break bones, but name-calling - don't think so!

[2021-08-30 12:21] ghost commented on #3
So, what I'm hearing is that Ukraine and Russia as a whole intend to thumb their nose at international copyright law and complain about the corruption and greed of US and Europe? You speak for two entire countries? It sounds like you're trying to turn this copyright dispute into a broader diplomatic incident between your country and mine so you can rationalize making this about cultural difference

[2021-08-30 13:06] AroKol78 commented on #3
**Feodor2**:ok:👍 🥇 :trophy::medal_military:
---

wszystko już zostało powiedziane co miało być powiedziane, więc proponuje :no_entry:zamknąć i zablokować wątek.
ewentualnie dalszą dyskusje prowadzić na https://forum.palemoon.org/viewtopic.php?f=62&t=27294

everything has already been said what was supposed to be said, so I propose :no_entry: to close and block the thread
possibly lead further disc

[2021-08-30 14:01] dmiranda12 commented on #3
What a clown you are.

[2021-08-30 15:29] Feodor2 commented on #3
I thing nobody wanted to harm you at any way in the beginnig, but when you drag out yourself from your binary outcast hole and begun to attack others they of couse attacked in return, this is so obvious.
(i wonder who is the second outcast fellow)

Well let we assume this is not personal, Tobin does not want destroy mypal becaouse of his jealousy. What else it may be suffer from the fact that peop

[2021-08-30 15:59] wolfbeast commented on #3
I'm not sure what there is to be jealous about. That's a pretty big (and probably very incorrect) assumption to make. I, for one, certainly don't envy MyPal. Since you're blaming dropping of XP support on something personal related to Tobin, let me remind you that it has been I who has, as project owner and "big picture" coordinator for Pale Moon, decided to drop Windows XP support way back when.

[2021-08-30 16:32] Feodor2 commented on #3
I did not put links to the source on that particular page, and it is obciously i did not try to hide the source or do other bad things.
And you really cosider this a viciously attack?

What a difference who made the deal of that "big picture". Do you not undesrtand that your browser wanted and actual only for owners of old computers with old oses, On win7+ and even on linux from day to day Palemon

[2021-08-30 18:04] Feodor2 opened #5 "Things are changing."
I heve been meanly removed from the mypal development.

No new versions of mypal will be from me. Someone else to take the relay race.

For details read there Feodor2/Mypal#3

Also please dont argue with them

[2021-08-30 19:01] wolfbeast commented on #5
We've already explained to you that you _cannot_ transfer the repository in its current state to anyone else because you don't have rights to do so while not being license-compliant. So don't ask anyone to do so here.

Also, you weren't "meanly removed". It was your own actions that caused this Open Source licensing problem for you. Those actions had consequences.

[2021-08-30 19:04] Feodor2 commented on #5
Yes i know that, no any things until become license-compliant.

Bu why you forbid me to ask.

[2021-08-30 19:06] wolfbeast commented on #5
I'm telling anyone reading this so there's no doubt about the current state of it and so people are informed who might skim over those details and in turn become in violation themselves. Nobody wants that.

[2021-08-30 19:23] wolfbeast commented on #3
I'm very much done with you constantly twisting my words to try and suit your narrative while simultaneously insisting on insulting me and shitting on the very project you rely on for development for your "modern Win XP browser". You're a fucking hypocrite.

Fix your compliance issues before asking anyone to "take over your torch" like you do in Feodor2/Mypal333#435 **despite** the fact that it wa

[2021-08-30 19:36] Feodor2 commented on #3
Where i did insult you, does not puting link to the source code was an insult? You are strange then, and why do you think i am going to transfer now. Or may be shiting about your browser become unusable more and more, sorry then, but this is true. I myself have put a remark that Mypal bacome unusable on modern web.

I put that new issue to let people know that no more any updates and support will

[2021-08-30 20:12] Anbima commented on #5
Hello Feodor2,

if you do not continue mypal, do you have another browser, which you continue developing for Windows XP?

[2021-08-30 20:27] Feodor2 commented on #5
I woud like, though i cant say for sure. I need to take a rest this all was frustrating.

But sure i can help other people with continue i hope license does not restrict consulting.

[2021-08-30 20:35] Anbima commented on #5
Hello Feodor2,
is there any other browser that you can customize and compile for Windows XP?

[2021-08-30 20:45] Feodor2 commented on #3
I have fixed things, did this repo become license-compliant?

[2021-08-30 22:16] Feodor2 commented on #3
Okey i shall delete history too

[2021-08-30 22:35] Feodor2 commented on #3
Let you know that i never was going to harm you or attack any way, thats happend becuase you attcked me.

[2021-08-30 22:44] Feodor2 commented on #3
Good day to you and try to change to not be so oppersive to others, may your and Moonchilds projects will overcome modern web unusability.

[2021-08-30 22:44] yongsu101 commented on #3
@Feodor2 my friend
think very carefully before you delete the whole repo
he's trying to get you to also erase the evidence of all their bs and lies
later he can spin this situation however he likes
at least save copies of all the issues they made here
then you can be protected later from their slander

[2021-08-30 22:45] wolfbeast commented on #3
Just stop already.
none of this is relevant. if you want to spin your wheels go do it on a local forum or something.

[2021-08-30 23:12] Feodor2 commented on #3
history is now deleted.

[2021-08-30 23:19] wolfbeast commented on #3
I'm afraid not. It can still be accessed and you still have source snapshots with Tobin's code in it. Just making an orphan branch does not remove git history.

[2021-08-30 23:21] Feodor2 commented on #3
where history then?

[2021-08-30 23:21] ByRodrigoSoares commented on #5
Then you came to the end Mypal Alkém can tell me

[2021-08-30 23:23] SeaHOH commented on #3
They want you delete the whole repo, once.

[2021-08-30 23:26] yongsu101 commented on #3
better to sleep tonight and think tomorrow with a clear head

[2021-08-30 23:29] wolfbeast commented on #3
@Feodor2
example: https://github.com/Feodor2/Mypal/commit/bfa8ea3c4351b70ab60f34ceea8e7caa9c10e377

[2021-08-30 23:34] Feodor2 commented on #3
Look the meassge in this commit

"This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository."

So this repository does not hold any of your code.

[2021-08-30 23:35] ByRodrigoSoares commented on #3
Bad character want to knock the mypal much envy of the browser just because the support for the XP

[2021-08-30 23:38] yongsu101 commented on #3
that's right @Feodor2
who gives a rats ass about getting access with tricks like that
no way you're responsible for that
i bet there's people out there with the whole repo cloned from before anyway
nothing these three musketeers can do about that

[2021-08-30 23:43] wolfbeast commented on #3
I just picked a random commit to demonstrate the access through the MyPal repo URL. whether that message is shown or not is irrelevant. as long as it can be accessed through this repo, it's not compliant.
But sure, here's a better example:
https://github.com/Feodor2/Mypal/commit/e57592c1ba338e132c5c5f3e8bb3d6431617b337
That's a commit with a modification made by Tobin and doesn't have your notific

[2021-08-30 23:45] yongsu101 commented on #3
lies, it shows the same message for me

[2021-08-30 23:48] Feodor2 commented on #3
Yes, is it not obvious that all this commins does not belong to this repository.

[2021-08-30 23:51] yongsu101 commented on #3
those boys asked for examples of lies before, ha ha ha

[2021-08-30 23:52] wolfbeast commented on #3
i don't care about XP support. If you want that then that's fine with me. What I do care about is that the Open Source license is followed.
You can repeat over and over again but that doesn't make it any more true than the first time it was said.

Keep telling yourself that.

![Image1](https://user-images.githubusercontent.com/3359132/131420551-97ee0ae4-587c-4dbb-a65a-c86d4c861fc4.png)

Regardless

[2021-08-30 23:54] yongsu101 commented on #3
why don't you use a better browser moonchild, then you can see the message, ha ha ha ha ha

[2021-08-30 23:55] wolfbeast commented on #3
It shows just fine on the first commit I picked.
Regardless they are still present in **this** repo on GitHub.

[2021-08-30 23:57] yongsu101 commented on #3
not our problem your browser is flaky
maybe matt tobin can fix this with some php coding

[2021-08-31 00:00] wolfbeast commented on #3
whether that message is shown or not is irrelevant. as long as it can be accessed through this repo, it's not compliant.

[2021-08-31 00:03] yongsu101 commented on #3
you better watch out moonchild that you don't get sued for accessing the site via url tricks
better go read the user license agreements of github

[2021-08-31 00:04] SeaHOH commented on #3
As before, you asked source, you don't know where they are. Now, you find out them from dark corner.

[2021-08-31 00:05] wolfbeast commented on #3
Oh so now we're back to threats, are we? :smile:

I didn't use tricks, I used normal links readily available on github's web interface in this repository to get there.
If you are all too unfamiliar with using this foundry then that's hardly something I have to solve.
And I know where the sources are. there are a few dozen readily-available non-compliant sources available for download right from th

[2021-08-31 00:08] yongsu101 commented on #3
yes moonchild you have to solve your browser problems first so it works properly on github, ha ha ha
don't know what you mean by threats, it's not like i'll be suing you

[2021-08-31 00:08] wolfbeast commented on #3
Yeah. Well I'll check back when your time is up. Good night.

[2021-08-31 00:10] yongsu101 commented on #3
check with justoff how to fix github problems while you're at it
if he still talks to you after getting branded traitor for nothing

[2021-08-31 00:11] SeaHOH commented on #3
So, you just want to kill Mypal, anyway?

[2021-08-31 00:16] yongsu101 commented on #3
lies, bs, con tactics to erase evidence, not accepting reality that feodor already deleted what he had to
so sad, so sad, so sad

[2021-08-31 00:19] SeaHOH commented on #3
Hah, shit dog shut up!

[2021-08-31 00:24] yongsu101 commented on #3
yes let's all read matt tobin's constant revisions to reality
learn to write your thoughts the first time if you have so much to say
no one cares about these edits you make every single time

[2021-08-31 00:25] SeaHOH commented on #3
Here is not your forum, if you shout we can opposed to.

[2021-08-31 00:34] yongsu101 commented on #3
it's a con tactic if you add 90% of your post after others have moved on
you keep editing after many posts have been made
the notification that comes by mail doesn't have your edits
moonchild just now lied about the commit not showing message
it didn't for him because he uses a faulty browser created by the great matt tobin

[2021-08-31 00:35] SeaHOH commented on #3
Are you FREE OPEN? NO! You are killing them! There should be a mild approach.

[2021-08-31 00:38] SeaHOH commented on #3
Except incorrect source form, any other license issues?

[2021-08-31 00:46] yongsu101 commented on #3
he doesn't have to comply with your every whim and bs
he deleted the repo content, github tells you that every time you use your url tricks
of course if you use a working browser, ha ha
there's a reason no one uses your browser unless they need to use xp
EDIT: normal people mark their edits like this, i accidentally put reply into quote

[2021-08-31 00:48] ghost commented on #3
I often hear mention of hacker builds on the palemoon site. But you forget that PaleMoon itself is a "hacked" build of Firefox. And you keep "stealing" new code from Mozilla to support web technologies.
Before you accuse others of stealing, write your web browser completely from scratch, develop it completely independently. But even then, Open Source will allow people to modify it. So you have to

[2021-08-31 00:50] SeaHOH commented on #3
It's NOT that there is NO source has provided, just incorrect source form. Why are you so sharp?
Do your self work well, that's the right thing.

[2021-08-31 00:56] yongsu101 commented on #3
i;m off now so don't bother to tag me with your bs no more, matt tobin

[2021-08-31 01:27] NickTheNeko0 commented on #3
@Feodor2 Just go and Fork an old Firefox or Chromium version and modify that it can run on Windows XP and work with websites, atleast Google or Firefox won't make that much of a fuzz about it compared to some other people, also Palemoon is trash anyways🤣
(I'm sorry no hate or anything but that's just the truth, @wolfbeast.
And if you can't accept the truth well its your problem and it ain't my pro

[2021-08-31 01:35] NickTheNeko0 commented on #3
@mattatobin i am talking about the browser not the developers of the browser, don't take shizz out of context

[2021-08-31 04:06] ghost commented on #3
Throughout time, PaleMoon team has done nothing but create bans. PaleMoon is an authoritarian browser.
Some points I can remember (prohibited or not recommended):
- It is forbidden to patch binary code (omni.ja)
- Not allowed to change user agent globally.
- Not allowed to use shared libs
- Not allowed to use original branding and name
- Not allowed to add a localization package to your builds (mi

[2021-08-31 05:39] ghost commented on #5
Жирной точкой был бы релиз 29.4.0.2 с langpack. Все-равно, я так понимаю, он уже готов.
P.S. В любом случае спасибо за Mypal, успехов и счастья в личной жизни. Адью.

[2021-08-31 06:12] SeaHOH commented on #3
All of you doesn't focus the point, why they ignore my questions, because license issue is an ostensible or professed purpose.

[2021-08-31 06:20] SeaHOH commented on #3
In their forum, they let me shut up, but here face my words, they let themself shut up.

[2021-08-31 07:28] sebigbos61 commented on #5
Hi Feodor2,
I just like to say thanks for your really good work, providing mypal for people who don´t like to be managed and suppressed by their own operating systems. Hopefully there will be an alternative some time.
kind regards,
S.

[2021-08-31 12:36] AroKol78 commented on #3
they're still here, obsessed with mypal, still harassing
what else they want you to do to them :icecream:

[2021-08-31 13:52] yongsu101 commented on #3
ha ha, this is now on reddit
https://www.reddit.com/r/palemoon/comments/pexate/pale_moon_developers_abuse_mozilla_public_license/
i predict matt tobin will cry now that everyone hates him there too
it takes skill to be hated on your own product reddit, like php skill
bad man feodor for some reason doesn't get hate like this
keep this repo alive @Feodor2 so all can see what bs this attack is
don't

[2021-08-31 14:44] ByRodrigoSoares commented on #3
If you're really trying to solve the problems with the license because you were so aggressive with @Feodor, you could very well have helped the guy to solve the problem then everyone would be happy without fights and arguments, here's a tip the guy didn't do it for bad I hope everything settle down between you guys

[2021-08-31 14:51] The-EDev commented on #3
Looking at the MPL v2 itself
section 3.2 part A states that:
[code]
It's worth mentioning that ***Source Code Form*** (as described in section 1.13) refers to human readable code, as opposed to Compiled Code Form, or Machine Code Form, which is difficult to read and not the preferred form for making modifications.*

Now let's turn to the important part, section 5.1 (available [here](https://www.mo

[2021-08-31 14:56] ByRodrigoSoares commented on #3
@mattatobin I hope to come back here and applaud you for helping the guy in solving the problems with the license because mypal is being the only alternative we have for a browser because unfortunately Palemoon has ended support for xp

[2021-08-31 15:12] traverseda commented on #3
@mattatobin

It looks like the guy has english as a second language, and is a bit confused about how to be fully compliant, but is happy to work with people to become compliant.

I think that @Feodor2 has demonstrated a pretty clear understanding of the *spirit* of FOSS with this comment

If you're not familiar with the *spirit* of free/libre software, you can take a look [here](https://www.gnu.or

[2021-08-31 15:34] ByRodrigoSoares commented on #3
@mattatobin in case there is no agreement between @Feodor2 and Palemoon about the errors in the license you could take this project and make it a second Palemoon browser with only xp support that would make everyone happy although it is not in your interest

[2021-08-31 15:35] The-EDev commented on #3
@traverseda @ByRodrigoSoares  This is my honest opinion:
If the spirit of Free Software was of concern here, none of us would be having this discussion.

The original founders of Free Software believed that all software should be publicly available, In the public domain even. The application of licenses in this case is to combat proprietary software pushing free software to extinction, and warrant

[2021-08-31 16:29] traverseda commented on #3
I'd like to assume better of the pale moon development team. I'm given to understand that the source code for @mattatobin's interlink is only made available on request? Am I understanding that correctly? Isn't thunderbird released under the MPL? I have a hard time understanding how @mattatobin is misunderstanding the MPL like that when they make it difficult to get the source for their thunderbird

[2021-08-31 16:55] yongsu101 commented on #3
one more reddit
https://www.reddit.com/r/opensource/comments/pf6hyd/pale_moon_developers_abuse_mozilla_public_license/
thank you igorel93 and krncnr for letting people know
matt tobin, you thought you could get away with this bs in silence
you were sadly mistaken
where are your lectures now people who know english and licenses are here?
to everyone who reads my posts
i apologize that i haven't beh

[2021-08-31 17:03] AroKol78 commented on #3
lighter versions for xp
https://old.reddit.com/r/palemoon/comments/pexate/pale_moon_developers_abuse_mozilla_public_license/
https://old.reddit.com/r/opensource/comments/pf6hyd/pale_moon_developers_abuse_mozilla_public_license/

[2021-08-31 17:13] krystian3w commented on #3
Mattatobin how you deleted "contributor" / "collaborator" in right corner at emoji button.

![obraz](https://user-images.githubusercontent.com/35370833/131546754-b49e4168-3519-4294-b238-920b059f5e52.png)
![obraz](https://user-images.githubusercontent.com/35370833/131546815-af5c3507-3f72-4271-9a51-6203198e3f5e.png)

[2021-08-31 17:16] traverseda commented on #3
Patches are the preferred form of work in the linux kernel. It's generally accepted that patches are the preferred form of work in kernal development. Frankly whether the patches counted as the preferred form of work is up to the courts (wherever @Feodor2  lives) to decide, not you. They're not ideal but I believe they're keeping in the spirit of free software in this case, especially if the devel

[2021-08-31 17:22] ghost commented on #3
With regards to the "spirit of Free Software," that is and always has been a GNU thing. Open Source is _not_ the same thing as Free Software and it never has been. Licenses like the `Mozilla Public License` and the `Common Development and Distribution License` were never intended to be in the same spirit as something like the `GNU Public License`. I can honestly tell you that I have never believed

[2021-08-31 17:25] Feodor2 commented on #3
Firstly these people are not dogs

Next i think let the github decide about the message from that commits, after all who knows better. If they tell that this repo is still contains your code i shall delete it.

[2021-08-31 17:28] traverseda commented on #3
What is this in reference to? Is there some communication outside of this thread that we're not aware of? That kind of thing could seriously run afoul of github's harassment policy, so make sure to document that well and take plenty of screenshots.

[2021-08-31 17:32] Feodor2 commented on #3
https://github.com/Feodor2/Mypal/issues/237#issuecomment-908793171
and

you keep editing after many posts have been made

![изображение](https://user-images.githubusercontent.com/19492771/131549093-bcbfe99c-4468-44f5-a831-30ed964f1619.png)

[2021-08-31 17:35] The-EDev commented on #3
@Feodor2 I don't believe github is going to involve themselves in any way, considering their previous behavior, they'll most likely do nothing unless a legal letter is sent to you and them, then they will delete the repo regardless until the matter is resolved. The argument of whether or not the MPL was violated can only be discussed in a lawsuit, since we fundamentally disagree.

Ultimately none

[2021-08-31 17:46] krystian3w commented on #3
Forks also need clean by Microsoft hands? Or you created similar 29 issues (or if issues are disabled so you sent fake PR commit with "warning").

[2021-08-31 17:47] wolfbeast commented on #3
I'm back here because you people are going completely off the deep end. I don't want to be here -- I'll never get to coding again this way, but really, the premise you are making here is at risk of spinning out of control for the entire Open Source community because you are reinforcing your own misunderstanding of licensing here.

First off; The linux kernel is not licensed under the MPL. the MPL

[2021-08-31 18:00] traverseda commented on #3
@wolfbeast Can you provide some more documentation on your interpretation of the MPL's preferred source form?

[2021-08-31 18:04] The-EDev commented on #3
I see 2 commits in the git history, neither of which relate to pale moon in any way. deleting the repository is going way too far, the code is no longer there.

[2021-08-31 18:05] Feodor2 commented on #3
No need to involve, only ask about that particular message "This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository." For me its seems very clear

Some things i really need ask someone to help or at least use machine translator.

[2021-08-31 18:08] yongsu101 commented on #3
been said a million times that when requested he said where it was
how the hell is asking him not ok but emailing matt tobin for his source is ok?
how long do you plan to continue this bs and contradict yourself?
the only reason you're here is because you wanted to be here
if not then why did you start this thing?
no harm was happening to you or anyone

[2021-08-31 18:15] traverseda commented on #3
Why do you think my request was fraudulent? That's pretty strong language. I did actually download the executable form before I sent you the request, although I haven't tried running it. I think it's fair to, in this instance, check to make sure you actually indent on respecting the MPL.

Considering you initially responded with a hard no... Well I'm glad you decided to actually respect the MPL.

[2021-08-31 18:35] yongsu101 commented on #3
so i sit on a john at feodor's place
the toilet paper is there but i don't see it
i shout to him where is it?
he says it's right next to you on the left
even if he doesn't hear me right that moment
i find the tp in 1 minute when i look around
then i sit on a john at matt tobin's place
there is no tp anywhere
i have to call him on the phone
by the next day he brings it there if he feels like it
whi

[2021-08-31 18:41] traverseda commented on #3
Running it would have required me to accept you're EULA, wouldn't it? I'm interested in it purely from an archival point of view. If you think not asking for the source code properly is fraudulent.. well that's a bit odd.

[2021-08-31 18:42] The-EDev commented on #3
@yongsu101 There's no point in arguing, The base for the project has changed, nothing to do here anymore, if anyone thinks they've been slighted, they can file a lawsuit. Let the accusations and insults go, or file a lawsuit. We're all just wasting time here arguing. @Feodor2 has already decided to change the codebase, there's only Mozilla code now. If you really want to help, you'd best help move

[2021-08-31 18:49] The-EDev commented on #3
please link that code

[2021-08-31 19:02] traverseda commented on #3
While @mattatobin and I clearly disagree on some of the material facts around this, I thought I was being generally respectful and professional. I understand that this is pretty heated for him, but I can't help but see this as crossing a line.

![image](https://user-images.githubusercontent.com/2125828/131560592-74537221-abdc-414e-9370-ba1408833aad.png)

Just including this for the public record.

[2021-08-31 19:05] aquila12 commented on #3
I'm not sure precisely what you mean by this @mattatobin, but it reads as if you want him to yank the source form from his repository _history_ - corresponding to executable forms which have already been provided to recipients - who, at the time of receipt, were granted a right of access to the source code for those executable versions.

Your argument appears to be that he has failed to provide th

[2021-08-31 19:18] AroKol78 commented on #3
**Feodor2** I can see that even if you do it on ff56, they will still do it illegally
https://old.reddit.com/r/opensource/comments/pf6hyd/pale_moon_developers_abuse_mozilla_public_license/hb39k00/

[2021-08-31 19:27] The-EDev commented on #3
@Feodor2 I suggest you contact github support and request they remove the history, they should be able to do something like that on their end.

Keep in mind that all these steps are only needed should you choose to comply with the contributor's request, I still stand by my first comment [here](https://github.com/Feodor2/Mypal/issues/237#issuecomment-909311204) and believe you are legally allowed t

[2021-08-31 19:33] traverseda commented on #3
@Feodor2 If you'd like you can transfer repo ownership to me, and I'll take care of this for you. That should wash your hands of any legal responsibilities.

[2021-08-31 19:36] wolfbeast commented on #3
@The-EDev I;m afraid your comment referred to provides an incorrect interpretation of the text.

You of the non-compliance by some reasonable means, this is the first time You have received notice of
 non-compliance with this License from such Contributor, and You become compliant prior to 30 days
 after Your receipt of the notice.

**All** of the points need to be satisfied. You have to
1. Receiv

[2021-08-31 19:40] The-EDev commented on #3
Like I said, You can argue whether the first warning was a violation to begin with in court, furthermore, I don't believe you have the right to revoke the forks' license, given the license is to a person, not a project. Legal matters aside, this is beginning to sound like a witch hunt. He has to delete the repository because in a place on github only accessible outside conventional means using SHA

[2021-08-31 19:42] traverseda commented on #3
I'm happy to take stewardship of this repository, and your existing code @Feodor2 . You can find instruction how to do such [here](https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/transferring-a-repository#transferring-a-repository-owned-by-your-user-account).

I believe that I have the rights to distribute this source code, and would like do such. If the p

[2021-08-31 19:57] wolfbeast commented on #3
@traverseda

I already have.

I encourage _you_ to talk to a lawyer, Like I have encouraged people in this issue several times already.
In a nutshell:
Tobin retracted his grant. As long as his authored code is present in this repo in any way, it violates his rights as an author. As long as that situation persists there are no rights conveyed to any recipient of the code through the license. Since

[2021-08-31 20:05] traverseda commented on #3
The files are not illegal, you simply contend that Feodor's use of the files are illegal. He wouldn't be using the files if he transferred them to me. Trying to claim that the source files themself suddenly became illegal because of a *potential* MPL violation is absurd, especially since your main claim is that this is "illegal" because the files *aren't available*? Do you understand how absurd th

[2021-08-31 20:09] AroKol78 commented on #3
it's not a good idea
they'll have you on the hook all the time

[2021-08-31 20:10] traverseda commented on #3
Yes, **DO NOT** accept that compromise. It's a legal trap.

[2021-08-31 20:14] wolfbeast commented on #3
@traverseda
No, you are absolutely approaching this from the wrong standpoint.

The files contain copyrighted material distributed under a permissive license. When you are in violation of the license, copyright comes back into full effect because you **no longer have permission to use the material**. So with the retraction of the grant, Feodor's now in violation of author rights and since the code

[2021-08-31 20:16] SeaHOH commented on #3
Repeat my questions

MPL has copyleft, it's FREE OPEN.
If you really want to resolve this issue, please don't be sharp, or you just want kill Mypal?

and

likes Feodor2, English is not my mother language, I also use machine translator to help me join this discussion.

[2021-08-31 20:20] traverseda commented on #3
You're not a victim here, your main complaint seems to be that foedor is bad at organizing their source code. You're massively stretching the letter of the license in order to violate the spirit of the license.

Your compromise would have them potentially legally on the hook for all kinds of stuff that they're not guilty of, and you're bullying them in order to try and get the to accept a complete

[2021-08-31 20:22] SeaHOH commented on #3
Right! But I didn't said that.

https://en.wikipedia.org/wiki/Mozilla_Public_License
https://www.mozilla.org/en-US/MPL/
![mpls](https://user-images.githubusercontent.com/8470820/131572170-ea3a5500-2dfb-4295-b7f7-f0df945e3302.png)

[2021-08-31 20:30] traverseda commented on #3
I don't believe that's true, either way it would be up to a court to decide.

[2021-08-31 20:36] SeaHOH commented on #3
Any '='? Your logical capability OK?

[2021-08-31 20:40] SeaHOH commented on #3
And you ignore my questions again.

[2021-08-31 20:42] SeaHOH commented on #3
Repeat again

[2021-08-31 20:45] SeaHOH commented on #3
Copyleft is license, FREE OPEN are spirit.

[2021-08-31 20:46] SeaHOH commented on #3
hahhhh

[2021-08-31 20:59] traverseda commented on #3
@mattatobin

Once again, I am not a lawyer, this is not legal advice. I'm not about to spend the expense on a lawyer until I need to, and right now I don't even own the repository so the point it moot.

First, violation if copyright/contract law is not generally *illegal*. There aren't any illegal files, just "illegal" uses of files (Uses that violate the terms of the contract you were granted use

[2021-08-31 21:04] traverseda commented on #3
The letter of the license means that you have pretty much no control if I take ownership of the repo. The spirit means he can continue to develop.

Fair enough, you did ask though ;p

[2021-08-31 21:07] SeaHOH commented on #3
https://www.mozilla.org/en-US/MPL/2.0/

[2021-08-31 21:11] SeaHOH commented on #3
hahhhhhhhhhhhhhhhhhhhhh

[2021-08-31 21:11] traverseda commented on #3
It's actually pretty relevant because I was implicitly granted a license to use their code under the MPL license. You see how that ties in to them being able to transfer ownership of the repository to me? That grant continues even post revocation. I'm not sure, but I believe that line was specifically included to cover cases like this. I had looked it over in my initial reading, so there's an even

[2021-08-31 21:13] SeaHOH commented on #3
They are selective response. They just want kiiling.

[2021-08-31 21:14] traverseda commented on #3
It's fine, I'm mostly explaining for feodor and their lawyers sake.

[2021-08-31 21:14] aquila12 commented on #3
This was the point I was trying to make earlier.  Anyone who received an Executable Form while Feodor2 was in compliance was granted a right under MPL to access the corresponding Source Form, which is why I pointed out the issue of yanking source history.

[2021-08-31 21:21] ghost commented on #3
I just don't see how an EULA continuing to apply suggests a right to the Source Form under the Mozilla Public License. Doesn't that just mean that any conditions that MyPal's users agreed to when they installed the software still apply to them?

[2021-08-31 21:29] SeaHOH commented on #3
From your (Tobin) words, I cann't see any FREE OPEN spirit, and you defiance of law, you are not the law!

[2021-08-31 21:31] traverseda commented on #3
@athenian200

I think the MPL counts as a EULA, but without spending hours studying case law or paying a laywer I can't be sure. The users were granted use of MyPal *somehow* and we can assume that was via the MPL.

Section 6 and 7 (disclaimer of warranty and limitation of liability) are the two things that most point towards it being a EULA. I think in my jurisdiction is probably would be conside

[2021-08-31 21:49] SeaHOH commented on #3
MPL is copyleft, if you want be PRIVATE, please change your license, that weak copyleft allow you releases as other license.
https://www.palemoon.org/licensing.shtml
![pmls](https://user-images.githubusercontent.com/8470820/131579643-78df1c68-2ce5-4830-a36e-902ffdd354a0.png)

[2021-08-31 21:51] AroKol78 commented on #3
I have a question for "Moonchild Productions"
whether the second repository "Feodor2/Mypal2" is okay ?

[2021-08-31 21:53] SeaHOH commented on #3
That's not the problem, they just want clear all before now moment.

[2021-08-31 22:21] yongsu101 commented on #3
@traverseda to make your own repo to prove a point you can ask on msfn forum
i think some people have the repo from before three musketeers attacked
maybe not a good idea for feodor to give this repo to you
good samaritan matt tobin can retaliate on him for that
if you get from someone else there's no problem
matt tobin said it too
https://github.com/Feodor2/Mypal/issues/237#issuecomment-906856792

[2021-08-31 22:27] SeaHOH commented on #3
Why you don't send a DMCA? Go and do it.

[2021-08-31 22:29] SeaHOH commented on #3
OK, it's time to work now.  :hand:

[2021-08-31 23:42] PalanixYT commented on #3
Tobin you are a dumbass. imagine taking down a fork because someone doesn't know how git works? like you can still see the source code what is your problem. You could have just told him how to make his source code "complaint" instead of bombing this project. You are out of your mind. This is not what FOSS stands for.

[2021-08-31 23:50] PalanixYT commented on #3
yeah no you didn't

[2021-08-31 23:58] SeaHOH commented on #3
I 'm back, work is over.
If you don't send a DMCA, or we can send a (pm devs group) abuse complaint. Anybody follow this?

[2021-09-01 00:02] PalanixYT commented on #3
Could've just told him to make a list with the link to the source code, instead you make huge fuss about this, and then try to send a DMCA request. You are clearly out of your mind and on a powertrip. This is certainly not how FOSS should be handled. And why do you do this? Because he gave you the source code the wrong way? even if this was really important to you, this isn't the way to handle it.

[2021-09-01 00:07] PalanixYT commented on #3
Why do you have this strong tone? this is just a small MPL dispute, and your harsh tone is out of place here.

[2021-09-01 00:08] SeaHOH commented on #3
It's me, a amateur developer, and other people who will does same things.

[2021-09-01 00:10] SeaHOH commented on #3
So, he looks alone, a good bullied person.

[2021-09-01 00:13] SeaHOH commented on #3
Feodor2 didn't perform all your request, so send a DMCA, don't do abuses. You don't need any more discussion.

[2021-09-01 00:16] SeaHOH commented on #3
The same to you! A despicable coward; a wretch.

[2021-09-01 00:25] SeaHOH commented on #3
I will wait, which day the deadline is?

[2021-09-01 00:32] SeaHOH commented on #3
If you don't answer, I can wait only few days.

[2021-09-01 00:53] SeaHOH commented on #3
I am a machine of slience maker, anywhere. Hahhhhhhhh

[2021-09-01 02:55] bushy555 commented on #5
Feodor, I would also like to iterate what sebigbos61 has said above. You have produced a remarkable high quality product for the past umpteen years that gave us XP fans a few more years worth of internet use.

Of course, I don't know any of the background story with the licensing issues; heck, I thought open licensing was open licensing. Kinda funny how politics (and money?) can come into play wit

[2021-09-01 03:58] jobbautista9 commented on #3
September 6. Jeez, learn to backread, please.

[2021-09-01 05:05] SeaHOH commented on #3
From his shit trash??? In Tobin's own forum he always fxxk this fxxk that, but here, "I don't use dirty words...". Hypocrite!

[2021-09-01 05:13] Conan-Kudo commented on #3
So this is fundamentally not true. "Open Source" is fundamentally about establishing a contract in which software is offered with the build inputs used to produce it under terms that allow for others to do the same.

While I am most definitely not a lawyer, I will attempt to explain the nature of this issue and some background around it.

Virtually all open source licenses (with only a couple of e

[2021-09-01 05:40] SeaHOH commented on #3
@Conan-Kudo I'm agree with you, but can you make a decision on behalf of Moonchild Productions?

BTW, I'm not a Mypal user.

[2021-09-01 05:42] Conan-Kudo commented on #3
Alas, no, I cannot. I do know the Pale Moon developers, though, and I expect them to be reasonable about it.

[2021-09-01 05:44] SeaHOH commented on #3
NO, they can't hear other sounds.

[2021-09-01 08:54] AroKol78 commented on #3
this whole license is just an excuse
it has long been known that the goal was to destroy mypal

[2021-09-01 09:04] SeaHOH commented on #3
Feodor2 does something bad, OK, but not so bad. I don't like those people's way of doing things, they are hypocrite.

[2021-09-01 09:09] SeaHOH commented on #3
Just like this.

[2021-09-01 09:12] SeaHOH commented on #3
And you are so foolish.

[2021-09-01 09:16] SeaHOH commented on #3
Those words are not hypocritical? Hahhhh

[2021-09-01 09:26] SeaHOH commented on #3
If you think you are a man of honor, see https://github.com/Feodor2/Mypal/issues/237#issuecomment-909895467 , this comment can representing my thoughts, I think this is fair enough.

Again, I'm not good at English.

[2021-09-01 12:07] PalanixYT commented on #3
Yeah guys you really can't do this. "Publish your sources". He already has them published. Just tell him what you want him to do. You could just tell him to make a list of all releases and their according sources, as that's the supposed violation. That would've been all and could've avoided all of this.

No one said that mattatobin isn't correct. It's just that this bombing of the project was wron

[2021-09-01 15:15] traverseda commented on #3
I think that his interpretation depends on exactly what is meant by "Source Code Form". There's no right answer to that, and intent does matter in the law so exactly what the "form of the work preferred for making modifications" is likely to be circumstantial.

So I am saying his interpretation of the MPL likely wouldn't be enforceable. I do think he's wrong on that point, and essentially just bul

[2021-09-01 15:20] Conan-Kudo commented on #3
Using Git is not required, however, since Pale Moon _itself_ uses Git, it's easy enough to do. Just uploading the tarball of the sources used to build the binaries in the GitHub releases is sufficient.

[2021-09-01 16:06] traverseda commented on #3
I agree it would be easiest to just use git properly.

@mattatobin Are you at all interested in negotiating to get the license grant restored?

There are a few more options then that. Another is to transfer ownership of the repository to me, where I can deal with those issues. Another option is to just ignore the pale moon developers until the file a proper cease and desist or DMCA takedown, file

[2021-09-01 16:17] AroKol78 commented on #3
So many words have already been said and we are still in the same place
both sides have already harmed themselves and the other side
it's not good for anyone - it's sad

[2021-09-01 16:33] AroKol78 commented on #3
I know the case
us xpety com it will also hurt
"the farther into the forest, the more trees"

[2021-09-01 16:56] Conan-Kudo commented on #3
Nobody cares about the fact that @Feodor2 is making it available for Windows XP. The fact that you should not be using Windows XP in 2021 is completely beside the point here. This is purely that any software built on MPL code needs its corresponding sources released alongside the binary release. The sources _must_ be able to build the binaries as released.

[2021-09-01 16:59] Conan-Kudo commented on #3
Yep.

Exactly. That's why @mattatobin, @wolfbeast, and other Pale Moon contributors are so upset. This is not a hard thing to do.

[2021-09-01 17:22] Conan-Kudo commented on #3
Those are the auto-generated GitHub links, which let you download the Git repo at that particular point without a git client. That requires @Feodor2 to publish the sources and tag them properly for every updated build made. That's not currently happening, so a source tarball needs to be made and uploaded.

[2021-09-01 18:01] rozniak commented on #3
By publish - is this referring to source for each version not being directly linked on the https://www.mypal-browser.org/ website, or is the releases page missing something?

[2021-09-01 18:15] Conan-Kudo commented on #3
Both. To answer simply, every release installer executable at https://www.mypal-browser.org/release/ should have an equivalent source tarball that can be used to produce the installer executable with the binaries.

[2021-09-01 18:20] rozniak commented on #3
That makes sense for the website, what's missing from the releases page? It's been blown away now - but were the tags incorrect or something?

[2021-09-01 19:41] E-System33 opened #4 "Thank You Feodor2"
Thank you for making this browser that brings XP/Vista back to life.

I'm really sorry about the last event.

But I think the new Mypal will be better.

Don't lose courage we are here to encourage you ;)

Good continuation

A french Mypal user

[2021-09-01 19:51] Feodor2 commented on #4
If someone still want to continue updating of Mypal let me know. No coding skill is required but desirable.
But you are to be very careful, sure you become their next target.

[2021-09-01 20:04] E-System33 commented on #4
Not me because I do not know how to code.
But there are very good people who will do it well ;)

[2021-09-01 20:04] #9 closed, assigned to nobody

[2021-09-01 20:04] chermany4ever commented on #4
Thanks again Feodor! I second all motions here. We need mypal to continue.

[2021-09-01 20:10] Feodor2 commented on #4
For just plain update from palemoon source coding skills not required at all

I think they will seek any opportunity to destroy any winxp browser based on their code, you do good and post source code right,  but might make the mistake in other things, so to be very careful.

[2021-09-01 20:22] chermany4ever commented on #4
I have always thought that Github was da shit. Was I wrong.

[2021-09-01 20:28] #10 closed, assigned to nobody

[2021-09-01 20:38] #14 closed, assigned to nobody

[2021-09-01 20:43] E-System33 commented on #4
It's mostly because of Palemoon

[2021-09-01 20:46] #15 closed, assigned to nobody

[2021-09-01 20:48] #16 closed, assigned to nobody

[2021-09-01 21:08] Feodor2 commented on #3
I transfer all important and useful things i think, then i am going to delete old repo.

[2021-09-01 21:28] SR13wi commented on #3
@mattatobin and @wolfbeast, what did you expect from your actions? You stopped supporting Windows XP in Pale Moon, and Feodor2 continued it for you and gave users of the old system the actual browser. He did you no harm, he tried to keep your license, he didn't get any profit from Mypal sales, but he was good for a lot of people. But now you're picking on technicalities and trying to shut Mypal do

[2021-09-01 21:31] SR13wi commented on #3
@mattatobin и @wolfbeast, а чего вы ожидали от своих действий? Вы в своем Pale Moon прекратили поддержку Windows XP, а Feodor2 эту поддержку за вас продолжил и подарил пользователям старой системы актуальный браузер. Он не причинил вам никакого вреда, старался соблюдать лицензию, сам не получил никакой выгоды от продаж Mypal, зато принес пользу многим людям. Но вы теперь придираетесь к несоблюдени

[2021-09-01 21:31] chermany4ever commented on #4
Those Palemoon idiots. Nobody is using that fkn' sht anymore. Well... maybe if you use Puppy Linux.

[2021-09-01 21:32] Conan-Kudo commented on #3
For what it's worth, the Chromium codebase has similar licensing requirements. It also does not officially build for Windows XP anymore either.

[2021-09-01 23:33] greyfox17 commented on #4
I am really sorry that this happened although I am not sure what exactly happened. In any case I would like to thank you for this browser. It is amazing. I just created a GitHub account to express my gratitude.

[2021-09-02 00:22] yongsu101 commented on #4
thanks for everything from me too, feodor my friend
sorry i talked too much in the license issue but i was angry with their bs and lies
i hope you can get a better version of mypal for xp now instead of their crap
but if someone keeps old mypal alive that would be great too
to have matt tobin squirming is always a good thing
maybe good idea to copy over his first attack too to keep full record
i m

[2021-09-02 00:28] SeaHOH commented on #3
Not both, https://www.mypal-browser.org/release/ can provide only a link of repo's releases.

[2021-09-02 00:38] yongsu101 commented on #3
thank god this is over but i want to say one last thing
@Conan-Kudo you can write long analysis but you don't get simple things
how could he upload source when they demanded him to delete it and never touch again?
dude how the hell was that supposed to work?
one thing i agree with matt tobin is people come and don't read
like you didn't read what they were saying all the time
especially matt tobin

[2021-09-02 00:39] SeaHOH commented on #3
I hope all things can be archived, this is a shameful pole to Moonchild Productions.

@Feodor2 If you can't, you can transfer it to me, I'll do this.

[2021-09-02 01:44] codenameneptune commented on #3
o gosh. I know M.A.T is mean man but he no deserv to die. I was to look to make new browser for xp and vista windows in way to make not able to take down but now.. are open source peopl really this violant?

Thay try to dox and some wish death. This no way to run browser. I dont no if I want to do thing for classic window now if user going to be violant. What if thay wish me death?

[2021-09-02 01:50] SeaHOH commented on #3
You did, you get, don't grumble.

[2021-09-02 02:04] codenameneptune commented on #3
I sea no why wish death on person is ever good and over browser or code source. This dispicable behave from user xp. Bad M.A.T act but many user act wors. I read all best I can but not understand why anger so much.

[2021-09-02 02:14] jobbautista9 commented on #3
An eye for an eye makes the world blind.

[2021-09-02 02:20] SeaHOH commented on #3
Because he pretended to be good, in fact he's a hypocrite, he does not care peoples.

Also to you.

[2021-09-02 02:22] codenameneptune commented on #3
He mean not disput but to wish dead. You not good too. Many not.

[2021-09-02 02:37] SeaHOH commented on #3
He does not care peoples, whatever they are saying, he is just giving a one-way pitch.

[2021-09-02 02:42] codenameneptune commented on #3
And you do? Seem like you no better but maybe worse. Say is person condone bad is as bad.

[2021-09-02 02:57] SeaHOH commented on #3
I cann't do any thing except make sounds. If this is worse, emmm...

[2021-09-02 02:58] codenameneptune commented on #3
you ok with M.A.T death wish on he. You bad worse one.

[2021-09-02 03:05] SeaHOH commented on #3
Is there anyone will kill he? NO, that someone let off the **feelings**.

[2021-09-02 03:15] codenameneptune commented on #3
Lok like bad user xp get home and maybe hurtkill. That why i dont think me will do stuff for violant.

[2021-09-02 03:19] SeaHOH commented on #3
All old things are bad, yeah I knew.

[2021-09-02 03:23] codenameneptune commented on #3
You not use my pal but agree bad xp users. You worse only here to support dead. Go now.

[2021-09-02 03:26] SeaHOH commented on #3
Irony, you know?
Why XP is bad? You said them bad, not me!

[2021-09-02 03:27] codenameneptune commented on #3
user xp many bad and you worse for agreeing death from user xp

[2021-09-02 03:28] SeaHOH commented on #3
I will bomb earth.
...
BOOMMM!!!!!
...
OK, anyone here?

[2021-09-02 03:28] codenameneptune commented on #3
you no here for reason just to be bad

[2021-09-02 03:29] SeaHOH commented on #3
Any other words?

[2021-09-02 03:32] codenameneptune commented on #3
you try words with bad act in your home they not allow so come here and be bad because other oppress. you claim M.A.T do same but when look at post you act worse than he. Maby he not as bad and you bully.

chance you or other make him way is.

[2021-09-02 03:35] SeaHOH commented on #3
Help!!! I have to laugh to die, grab this murderer!

[2021-09-02 03:38] codenameneptune commented on #3
No more talk you.

[2021-09-02 05:54] SaranSDS008 opened #17 "Building a New Browser based On Backported Webkit or Blink"
Hey @Feodor2
I'm really sorry to hear that your Awesome Browser MyPal had to be shut down forcefully. I'm an Avid user of your Awesome Browser Mypal in my Windows XP Machines btw, and this disappoints me a lot. I kinda been eyeing on Apple Webkit and Chromium Blink Engine for a while though, and that seems a really good sort of Codebase. Many People nowadays use Chrome Based Browsers and there are

[2021-09-02 10:15] #19 closed, assigned to nobody

[2021-09-02 10:36] Feodor2 commented on #3
@SeaHOH @codenameneptune stop spam or i have to turn out you both

@mattatobin

Of course there are mean assholes exists among winxp users, as everywhere. This one is a provoker dont care, live long.

I hope you are not obligated to be asshole next time, then just try not to be it.

[2021-09-02 10:54] #3 closed, assigned to nobody

[2021-09-02 14:23] hubman-star commented on #5
BOOOOOOOOOOOOOOOOOOOOOOOOOOOO

[2021-09-02 15:50] ghost commented on #4
Don't let the pale moon virgins push you around. They're bluffing, there's no way they will (or are capable of) pressing charges.

[2021-09-02 17:18] Anbima commented on #17
Feodor2,
are you planning a new browser for Windows XP, or may we not make any hopes?

[2021-09-02 18:15] dca00 commented on #4
Enough had been said about Palemoon cabal's scare campaign against forks, but here is my 2c:

Agressive, "lawyer-like" and "cop-like" comments and abusive language of the trio has no merit whatsoever. Their main claim was that source code was not made immediately available to anyone who d/l the binary. It is without merit since all source code has always been avalable. The claim that it was only a

[2021-09-02 18:32] dca00 commented on #5
Boo-hoo! Your claims are w/o merit and the offenses that you allege exist only in your imagination.
You misinterpret and misrepresent MPL 2.0 and abuse the one who is 100% compliant. None of your rights have been violated because no fees are charged for distribution of the derivative software; therefore, you have no claim to make and no leg to stand on, in court.
In truth, you are not allowed to w

[2021-09-02 18:37] dca00 commented on #5
You (incorrectly) pretend or make yourself sound like an authority which you are not.
The abusive language such as "I Am telling anyone" asserts authority whereas you are not one.
Since your claims had not been proven in court, you may not make such assertions since you have no authority.
You may, however, use language such as "I suggest" or "I recommend". That would be reasonable. Otherwise, wher

[2021-09-02 19:22] dca00 commented on #3
You are such a two-faced snake. Each of your words seeps poison. No one here will buy your benevolent rhetorics.

[2021-09-02 20:31] veselcraft commented on #5
А это разрабы оригинального Pale Moon поносят Фёдора. Сначала ему отрубили магазин приложений, а затем уже и принялись форк убивать.

Сам не пойму, как репозиторий могут уничтожить к херам собачим, если ты нарушишь лицензию MPL... Там прям за этим следят, или что? Совершенно идиотская позиция

В любом случае у меня больше нет желания пользоваться или поддерживать Palemoon с такой отвратительной по

[2021-09-02 21:08] dbsoft commented on #3
I seem to be missing something here... I have been following this for a few days but either I don't undertstand something about the MPL that is being asserted against Feodor2 or I don't understand the situation.  I want to make sure any projects I release that have code from the same source won't come up with any similar situations.

The situation as I understand it, is that Feodor2 released a Bas

[2021-09-02 21:08] E-System33 opened #20 "Proposition"
If Palemoon causes so many problems, Abandon It. It only creates problems. Plus their browser is slow and old.
Why not try chromium or Firefox itself or others?

You can cooperate with other coders. There are plenty of them who would like to help you make a new Mypal (or another name)

Mypal should not die like this.

I use it even on Windows 10.

Don't hesitate to open a donation system. You dese

[2021-09-02 21:40] dca00 commented on #3
That's the whole point: harm has to be done, to claim damages.
How had the accusers learned about the alleged lack of released source code? They had to download the binary and to find out that the source code was not included with the executable package, as it is a commonplace practice in IT. Having found that, they had to inquire about the availability of the source code. At that point, as I surm

[2021-09-02 21:54] dbsoft commented on #3
Not sure about the first strike, sounds like the original situation was because he only released patches with no baseline source?  That one sounds like it has a bit more validity.... however it was at least an attempt at compliance and from what I understand he did come into compliance either way.  This second one we are talking about however does not seem like a violation at all to me, unless he

[2021-09-02 22:06] dca00 commented on #3
The inquiry and the subsequent release of the source code still keeps him in compliance. For the "1st strike" to be valid, there had to be no source code available whatsoever, or their request had to be ignored or declined. Feodor2's claim that the source code has always been available, based on the availability of the original code and patches, is a valid one: he made a deliberate effort to make

[2021-09-02 22:14] dbsoft commented on #3
That was my understanding as well, but I am not a lawyer, might have to bring one in on this though to be sure.

Regarding the original issue the problem he had with patches is the license requires it to be in "Source Code Form" which patches are arguably not, but not sure if it should be considered a strike since he came into compliance and the patches were an attempt at compliance if not to the

[2021-09-02 23:43] aeiouaeiouaeiouaeiouaeiouaeiou commented on #3
I made a [backup of the repository](https://gitee.com/aeiouaeiouaeiouaeiouaeiouaeiou/Mypal) if anyone wants to clean up/continue development work on the project.

Have a good day.

[2021-09-02 23:50] SeaHOH commented on #3
They threatened Feodor2 to destroy evidence, the whole original repo.

[2021-09-03 01:46] ByRodrigoSoares commented on #4
It would be possible @Feodor2 to create a forum and continue updates for Mypal fans and provide the download links by email only so Palemoon ordinarys wouldn't interfere

[2021-09-03 02:17] ByRodrigoSoares commented on #3
Don't give up @Feodor2 for everything has a way

[2021-09-03 02:23] ByRodrigoSoares commented on #3
@Feodor2 don't give up, go ahead with the project if the problem can be solved don't hang your head to those palemoon bastards

[2021-09-03 04:27] SaranSDS008 commented on #17
Yeah, same question here @Feodor2 . Are you planning to build any new browser/work on existing?

[2021-09-03 04:33] SaranSDS008 commented on #20
Yeah, same here, Mypal should not die like this. There are better engines out there, which is open source, easy to backport, can have the browser as proprietary, etc. Palemoon is not the only browser out there. Also, there are many ppl to help you build a new browser @Feodor2 . If you need, you can take a break think on this though. If you don't have resources, try to open a Donation system, or Pa

[2021-09-03 05:05] JeanPaulLucien commented on #5
I knew GH is not good place.

[2021-09-03 05:14] joeturnes opened #21 "NEWmoon browser has problems, but ..."
I think i'm going to TRY to use NEWmoon on my very old 32 bit XP desktop for shopping & banking - it is updated each week!(I wonder why! Kind of insane, almost.) Hopefully those websites will work in NEWmoon ...
http://o.rthost.win/palemoon/?sort=date&order=desc
& use Mypal for the rest of my browsing until at least ebay is selling cheap windows 11 desktops. None yet.
I was gonna get a cheap $60!!

[2021-09-03 05:15] veselcraft commented on #5
It's not the GH problem, the Moonchild's is. They don't want to be in opensource community, so they decided to kill forks

[2021-09-03 05:20] JeanPaulLucien commented on #5
I am amazed by the fact that Windows XP users were hurted by those who positioned all time themselves as supporters of opensource, traditions and stability.

[2021-09-03 05:48] JeanPaulLucien commented on #5
@Feodor2
What is cause of problem?
I see you get info only from Moonchild group, but they are not Moz.
MLP 2.0: https://www.mozilla.org/en-US/MPL/2.0/

Я вообще причины проблемы не вижу. Какой-то сюр. То ли @Feodor2 не понимает, что они шпрехают на инглише, то ли Мунчайлды абузят.

[2021-09-03 06:45] JeanPaulLucien commented on #5
@wolfbeast
Hello. I'm a third-party person who rights were touched, but has not notified.What is cause of problem?

[2021-09-03 07:52] JeanPaulLucien commented on #3
@mattatobin
Hello. I'm a third-party person who rights were touched, but has not notified. What is cause of problem?

[2021-09-03 08:54] JeanPaulLucien commented on #3
@mattatobin
I read your messages and don't understand your thought. Many talks about "MLP 2.0" license that you don't have permissions to interpret.
English is not native for the most people here. So, simple form to describe your essence of the claim is preferred. Or nobody will understand you, especially @Feodor2 who English skill is "sub-zero".
If you don't wish to write a essence of your claim

[2021-09-03 09:02] SeaHOH commented on #3
@JeanPaulLucien You can see that there is really nothing, all evidences had been destroyed. This is what he wants, he doesn't care MPL, it's just a pretext.

[2021-09-03 09:30] SeaHOH commented on #3
Dog shit! Shut up and go away! Don't show me your hypocritical!

[2021-09-03 11:22] JeanPaulLucien commented on #3
I was informed, Moreover, more than 20 information resource.

[2021-09-03 11:56] JeanPaulLucien commented on #5
@Feodor2
https://www.gnu.org/licenses/license-list.ru.html

Распространять - это пункты 3.1, 3.2. Можешь вертать MyPal.
P.S. 300 сообщений ни о чем. Я фигею.

[2021-09-03 12:37] dca00 commented on #3
We have to stick to the issue of compliance with MPL2.0. It only defines two terms as regards to software delivery. They are "source code" and "executable" AKA "binaries".
A reasonable person's understanding of source code is a collection of one or more text files that contain programming language, scripts, configuration, etc. and have to be processed by programs commonly known as "build tools" in

[2021-09-03 12:37] dca00 commented on #3
On a side note, I find the timing of this of interest. All these events occurred around the same time as GH had been acquired by you know which entity that is in the business of selling OS. This creates a conflict of interest whereby the said entity is interested in selling every new version of their OS and at the same time it is interested in forcing the users of prior versions to upgrade. I can

[2021-09-03 12:52] SeaHOH commented on #3
I think this case is not. They are always that, no one gave them any coercion. Their fundamental motivation lies in the market share, may have reached the life and death crisis.

[2021-09-03 12:54] veselcraft commented on #5
Да один из писькогрызов пейл муна вообще был забанен на форуме MSFN, так что не удивительно

[2021-09-03 13:17] JeanPaulLucien commented on #3
@mattatobin
You wrongly think that here is no contributors. Do you wish to spend my time to dig up my contribution history? My first version of Firefox was 2.0. I don't like that you or Moonchild prevent me to use my contributions.

I have checked your reps for possibility to send claim. There is no able "Issues". MPL 2,0 breaks.

[2021-09-03 14:56] JeanPaulLucien opened #22 "MPL 2.0 commented"
@Feodor2 is not Organization but Moonchild.

So, you may restore repos without negative actions, because this repo never breaks MPL 2.0.

[2021-09-03 15:26] rubyFeedback commented on #21
Dude, is there any structure in the text above? That was painful to read ...

[2021-09-03 15:28] rubyFeedback commented on #20
"You can cooperate with other coders."

You mean you can "cooperate" with Google?

I am sure they are enthusiastic about listening to your "cooperation" ... :>

It's not as if Firefox has dwindled in a downwards spiral or something ...

"There are better engines out there"

Like ... which ones? The Google-based variants? No de-facto monopoly?

[2021-09-03 15:31] rubyFeedback commented on #4
The reason I upvoted dca00 is not because of all of the content, e. g. the claim about the court I consider incorrect.

However had I agree on the general notion due to this comment:

https://github.com/Feodor2/Mypal/issues/5

In quote: "I'm telling anyone reading this so there's no doubt about the current state of it and so people are informed who might skim over those details and in turn become

[2021-09-03 17:18] dca00 commented on #3
This is your interpretation of MPL2.0, and it is not based on its letter; therefore, it is incorrect. MPL2.0 does not constrain the source code to any specific format.

This is irrelevant as well, because it is your interpretation, not based on any verbiages of MPL2.0.

The compliance was not restored. It always existed. Yes, you were not happy with the state of his repository, but MPL2.0 makes no

[2021-09-03 17:30] Conan-Kudo commented on #3
It is the intent by the Mozilla Foundation and Moonchild Productions that "source code form" is the actual source tree, as that is the form for making modifications. Patches alone are not considered sufficient without at least a reference to the base source tree that they must apply to. It _could_ be argued that if you provided patches plus a reference link to the actual Mercurial/Git commit or ba

[2021-09-03 17:30] dca00 commented on #3
The fact that only the original developers of Palemoon project, i.e. those unaffected by the releases of MyPal, were the only ones concerned about source code availability is also worth reviewing. Your trio has no vested interest in the availability of source code from Feodor2. You have your own browser, and it enables you to browse the internet. His users would be the ones who have vested interes

[2021-09-03 17:34] Conan-Kudo commented on #3
Only the developers of Pale Moon are able to legally give notice, so they _have_ to be concerned. And while I'm not involved in Pale Moon in any shape or form, I am aware of the project peripherally due to one of the distributions I work with shipping it (hence why I'm here in the first place). It is their right to enforce the terms of the license of the software they share with the world. It woul

[2021-09-03 17:36] dca00 commented on #3
Now, it is your loose interpretation of MPL2.0 that is not based on its letter. This is inadmissible. Yes, some purists may consider source control repositories a preferred way to make source code available. It is just too bad that they had chosen the license that does not support the above assertion. Should have chosen a different license that is source-control-aware, git-aware, github-aware, but

[2021-09-03 17:41] Conan-Kudo commented on #3
Firstly, I did not say _source control repositories_. Secondly, it would be absolutely, utterly stupid to make a license technology specific. That is a one-way ticket to making compliance impossible in the future.

In any case, you don't have to take my word for it on how to comply with the source distribution terms. Mozilla wrote [a FAQ on compliance for the MPLv2.0](https://www.mozilla.org/en-US

[2021-09-03 17:42] dca00 commented on #3
Then drop the accusations against Feodor2 abusing Palemoon's code. If you want to restrict him from using Palemoon's code, then you should restrict Palemoon team just as well.

Now you understand the difference between facts and speculations, do you not? Your accusations of Feodor2 violating your rights is a speculation based on your erroneous, loose misinterpretation of MPL2.0 to the letter of wh

[2021-09-03 17:46] dca00 commented on #3
That is also interpretation. Do you understand the difference between the original document and commentary on it? Also, do you understand what different entities mean? Mozilla's commentary on MPL2.0 applies to themselves and themselves only. It is not binding on Palemoon team or Feodor2. The Palemoon trio are at liberty to use Mozilla's FAQ to their heart's content, but it does not made the said F

[2021-09-03 17:51] dca00 commented on #3
Here we see another attempt to stifle critique on xenophobic basis. You make it sound like only those whom you approve are allowed to comment on your conduct. You are digging yourself in, deeper and deeper.

Of course, my commentary is NOT binding on anyone. It is a function of Github web UI that allows me to comment, and I am using this function, to convey my thoughts. Do you have a problem with

[2021-09-03 18:03] Conan-Kudo commented on #3
Anyway, I'm done with this thread. I just wanted to give advice on how to clear this up quickly and easily, it's up to @Feodor2 on whether he wants to take it, for this or any future endeavor.

[2021-09-03 18:06] AroKol78 commented on #11
:pushpin:
---
backup source code:
- https://github.com/serioucsat/MyPal
full 7 branches (Mypal_Release/Centaury_Release/...)
- https://github.com/ManchildProductions/MyPal
full 7 branches (Mypal_Release/Centaury_Release/...)
- `https://gitee.com/aeiouaeiouaeiouaeiouaeiouaeiou/Mypal`
 https://github.com/Feodor2/Mypal/issues/3#issuecomment-912134356 (so that it does not get lost in the vastness of t

[2021-09-03 18:08] dca00 commented on #3
So, whatever happened to your integrity, Matt Tobin? Above, you had committed to not commenting on this issue, and you had gone so far as to request that no one uses the advertised function of Github web UI, to at-mention you. I did not at-mention, yet you come back despite your commitment. This sounds, oh, so similar to the revocation of Feodor2's license.

The text of MPL2.0 is publicly availabl

[2021-09-03 18:15] JeanPaulLucien commented on #3
@Conan-Kudo
@dca00
There is nothing need to continue this empty talk about non-existent problem. Wait, will @Feodor2 decide to restore everything.

[2021-09-03 18:16] BokeeXD commented on #4
well palemoon itself does suck, but forks that are made for older operating systems are decent

[2021-09-03 18:16] BokeeXD commented on #4
this is fucking terrible, palemoon devs are like discord mods really, hope for the best in the future

[2021-09-03 18:30] dca00 commented on #3
You are correct in stating that the Palemoon contributors are entitled to legally give notice. However, their claim against Feodor2 is just that: a claim not proven in court. It had been handed down to him, in a hostile, zero-tolerance fashion, in abusive language construed to mislead into immediate compliance with the demands instead of compliance with the license. When (correctly) challenged, th

[2021-09-03 18:32] JeanPaulLucien commented on #3
@wolfbeast
How do you use other license at Pale Moon if

uses MPL 2.0 license?

[2021-09-03 18:39] yongsu101 commented on #3
<img width="805" alt="tobin_post_crop" src="https://user-images.githubusercontent.com/89585363/132051834-30b14543-bcb5-43fa-9a63-dd41d6a4491b.png">

https://forum.palemoon.org/viewtopic.php?f=67&t=22241&p=219742#p219742
so matt tobin you like to throw your weight around
when you think it's some small time xp users with small minds
then you find out no one in the world likes bullies and jerks
and y

[2021-09-03 18:51] dca00 commented on #3
Feodor2, unfortunately, fell an easy victim of your pointless vendetta. See, how you cower and run, when challenged?
And more so, you claim victim status, whereas real victims are Feodor2 and his users whom you primarily and the rest of Palemoon trio had, wholesale, deprived of using their XP systems to the fullest.

[2021-09-03 19:03] dca00 commented on #3
The only hate-filled player here is you, since you had shut down a competing project instead of working with its maintainer. The rest of your far-fetched assertions are pure speculation and have no bearing on this matter, so I will not be reviewing them.

No one forces you to rehash anything. I am not even addressing anything to you, personally, unless you volunteer to come at me. It is the functi

[2021-09-03 19:35] dbsoft commented on #3
-- Opinion --

After reading and listening and contacting several people involved I just want to condense my thoughts into something salient to take away from this.

History:

I think that when Feodor2 initially released the source code in patch form, it may have been a minor violation of the MPL’s “Source Code Form” if there was no baseline to apply the patches to. However in my opinion it lacked

[2021-09-03 19:40] dca00 commented on #3
The definition of Palemoon trio stems from the original, concerted effort to take Feodor2 down. It had been undertaken, in concert, by the three individuals: mattatobin, wolfbeast, and the 3d long and convoluted name escapes me. The three of you teamed up on Feodor2, to confuse and mislead him into believing that your claims and notices had been valid. You had, indeed, commented in concert, simult

[2021-09-03 19:43] dbsoft commented on #3
I wasn't paying attention to this at the time, but his web page where executables are downloaded links to the GitHub... where the sources reside.

I saw the link he posted in the issues to the source branch (although it is gone now) which means it was remedied if it wasn't there initially?

I honestly don't see the "twice" I am sorry.

[2021-09-03 19:43] ghost commented on #4
Feodor, я поддерживаю тебя, палемуновцы те еще бяки, но справедливости ради, до всей этой петрушки, некоторые люди действительно ждали от тебя ссылку на архив с исходным кодом, патчами и подробную инструкцию по компиляции, с расказом обо всех тонкостях компилирования столько сложного софта в столь непростых условиях. Только бинарь это тоже хорошо, но... Например, я слышал такое от печально известн

[2021-09-03 19:47] dca00 commented on #3
When you buy a Linux-based smart TV, IOT device, or even iPhone, you are also not informed where to d/l source code. Billions of $$ are being made, across the globe, by violators of all kinds of free software licenses. Heck, even Elon Musk and Tesla had been found in violation of LGPL and such, but FSF had chosen to work with them instead of bulldozing Tesla factories, like you had done to Feodor2

[2021-09-03 20:02] dbsoft commented on #3
Well, the second time you speed your license doesn't generally get revoked.

[2021-09-03 20:03] dca00 commented on #3
None of belated complaints below is relevant. You had originally invoked MPL2.0, and the matter only revolves around the validity of the "1st strike", from which down you had gone ballistic. In court terms, your appeal is dismissed since you are trying to present evidence not presented at trial.

So, where is your integrity, Matt A Tobin? You had committed not to comment, how many comments back? D

[2021-09-03 20:12] dca00 commented on #3
There is no "we" here. Each of commenters here comments individually. I cannot speak for the rest. Personally, I do not give, whether you reply to comments or not. It is totally up to you. Point being made here is that you had applied loose misunderstanding of MPL2.0 to Feodor2 and his project, and he bowed to you too easily when he should not have. What you take of it is totally up to you.

[2021-09-03 20:17] dbsoft commented on #3
Well like I said, I don't even think you are entitled to revoke the grant... getting the source code from him was easier than getting it from you...

I would hope that both of you would have a public repository and tag your releases making it easy and clear how to get the code for a particular version.  So we would never have to endure this nightmare again.

[2021-09-03 20:18] dca00 commented on #3
I cannot speak for others. Without prejudice, I assume that Feodor2 now has much better understanding of MPL2.0 caveats, and he is unlikely to violate it. This does not mean that I believe that he had ever violated its terms.

However, I do not appreciate passive-aggressive language of your suggestion. It is construed in such a way that it implies guilt of many parties, including myself, and I do

[2021-09-03 20:20] dca00 commented on #3
Now, this is slander and libel.

[2021-09-03 20:31] dca00 commented on #3
They do not have to be. Your comment explains a whole lot about your misunderstanding of MPL2.0: you simply do not have good understanding skills. You read things from a document, which it does not contain. Do yourself and everyone a favor and read MPL2.0 again, and give it a good thought. You would realize that many of your assumptions about the meaning of it are simply wrong and not based on its

[2021-09-03 20:57] dca00 commented on #3
As far as I am concerned, I have started commenting on this travesty yesterday. The evidence is on Github, for everyone to see, but you continue slanderous accusations, now against me.

As to your alleged rights violations, you have not even been able to articulate what those rights are. You are clearly not the one concerned about the integrity of the binary distribution because you have your own

[2021-09-03 21:02] E-System33 commented on #3
This story has become a mess

[2021-09-03 21:07] dca00 commented on #3
Do you at least understand that two words separated by AND in the same sentence are not contrasted or compared?
Like in programming, 1 AND 0 == 0. It does not matter whether 1 and 0 are same or different, equal or not. The AND operator combines them into one value.
If something is slander and libel, it has qualities of both of them. It means that something needs qualities of slander in addition to

[2021-09-03 21:14] dbsoft commented on #3
I think you both should just stop... Slander and Libel are effectively the same on the internet... one is written and one is oral... but the same rules apply... and it really has nothing to do with this topic and is just extending an unnecessary argument.

[2021-09-03 21:15] E-System33 commented on #17
Let's let him rest first

[2021-09-03 21:15] E-System33 commented on #17
He really needs it

[2021-09-03 21:17] WilliamO7 commented on #3
This, I have been observing all of these disputes from afar for a number of years, including the OpenBSD/ibara bs (full disclosure: I do use PM as my daily driver but web compatibility is making me shy away from it, even though it is still my favourite browser for extension features, but I can't use stuff like RES or AliUp on it, and I do not have the time to port these myself unfortunately.)

I p

[2021-09-03 21:29] dca00 commented on #3
This is the point I have been trying to make but which falls on deaf ears: Matt A Tobin strives to distract from the issue of alleged non-compliance by Feodor2 with MPL2.0 that Matt A Tobin misunderstands and misrepresents, over and over.

[2021-09-03 21:33] l29ah commented on #21
Consider GNU/Linux.

[2021-09-03 21:33] dca00 commented on #3
How is all of this relevant to the current thread under the github issue#3? Why are you spamming this issue with outside screenshots? You claim victim status whose rights had been allegedly violated but in fact you drag irrelevant matters into this. If you have a problem with threats, then call the police or hire a bodyguard. I am pretty sure that none of the participants of this gihub issue are i

[2021-09-03 21:36] dbsoft commented on #3
@mattatobin Not sure why you were posting a screenshot of someone's request for Interlink source code... but if you want real transparency, why don't you post one of our exchange. :)

[2021-09-03 21:38] dca00 commented on #3
Do you not even understand that you are posting libelous comments about me, without any substance?
What you refer to as relentless onslaught I could probably acknowledge with the caveat: it is my right to speak my mind and I am entitled to the privilege of commenting on this site, as long as it does not violate TOS. If you are not happy about it, you can unsubscribe. You were going to, remember?
A

[2021-09-03 21:45] dca00 commented on #3
I cannot be held accountable for actions of unrelated 3d parties. I post here about single topic: your misunderstanding and misrepresentation of MPL2.0, yet in response you post about anything and everything you can imagine. Really, you should take a rest. Seeing how you are receiving threats, I can imagine how hard it can be to keep your wits. You are losing it, so you should rest. You are not ev

[2021-09-03 21:47] dca00 commented on #3
MPL2.0 does not include such provision. It is your interpretation that has not been tested in court.
MPL2.0 does not define what is source code and what is not, as long as it is not a binary/executable.
You may not like it, but it is the reality.

[2021-09-03 21:49] dca00 commented on #3
Was this an attempt to post something relevant, or are you turning into a flooder/spammer?

[2021-09-03 21:52] dca00 commented on #3
It is irrelevant because there is no such provision in MPL2.0.
You are grasping at straws in an attempt to justify your demands, whereas you should stick to the letter of MPL2.0 since that was what you demanded of Feodor2. You had shut him down, under the letter of MPL2.0 but now you are only providing your thoughts or desires as justification. If a legal document does not have a provision, that p

[2021-09-03 21:59] dca00 commented on #3
There is a difference between removing and not containing. Did Feodor2's patch files really remove the notice, or did they simply alter other parts of the original source files that they apply to?

I.e. did the patch convert a source file like this:

/* legally required notice */
extern C abc;

into

extern C abc;

is the question. If Feodor2 applied patches that removed notices, then he would be

[2021-09-03 22:02] dca00 commented on #3
Slow down, do not flood (this is frowned upon from the early days of the Internet), and respect your counterparts. I had asked you an important question above. Flooding will get you nowhere and probably even reported to Github for TOS violation. I am reluctant to use authorities to shut you down because it is not my style. So try to be respectful.

[2021-09-03 22:04] EMH-Mark-I commented on #3
Patch files are not source code; they are utilized to modify a specified source.
@dca00 You are attempting to change and misconstrue the subject. Please refrain from so and stay on topic.

[2021-09-03 22:07] dca00 commented on #3
Both of you are entitled to your opinions, but they are unsubstantiated by the letter of MPL2.0. I am tired of repeating this simple concept that is so hard for you to grasp. MPL2.0 does not define which scripts are source code and which are not. It only contrasts source code and binaries/executables. You may not be happy about it, but if you are you should have chosen a different license that is

[2021-09-03 22:15] dca00 commented on #3
The patch files patch the source code contained in Palemoon repository.
MPL2.0 does not have provisions for anything that you mention below. You have your vision of ideal distribution but it is not based on the license that you had chosen. You keep trying to apply your ideals to the letter of the document that does not support your ideals. Any lawyer worth their pay would explain this to you the m

[2021-09-03 22:20] dca00 commented on #3
Of course, a willing developer may make changes to patches.  What could possibly prevent them?

Further, you are quoting from the commentary on MPL2.0. This commentary is not binding because, for one, it is not referenced in the license itself, and for two, it is a product of an unrelated 3d party to the matter at hand. Mozilla is not a party to the matter at hand. They had made no claims, neither

[2021-09-03 22:28] dca00 commented on #3
I too wish we lived in a perfect world where all code always compiled on the 1st attempt.
Were I to tell you how many times I approached opensource developers whose code does not compile, no matter what, and what was the percentage of me getting anywhere with that, you would weep. But I digress.
So, you were eager to get to the bottom of of Feodor2's baseline, in order to... complete the sentence

[2021-09-03 22:43] dca00 commented on #3
Back to my unanswered questions.
That which you are doing in this thread/issue is the definition of distraction: you do not answer pertinent questions.
Answer the following, and then we may continue, if you wish:

https://github.com/Feodor2/Mypal/issues/3#issuecomment-912832289
https://github.com/Feodor2/Mypal/issues/3#issuecomment-912844097

Otherwise, it is one-sided.

[2021-09-03 22:50] dca00 commented on #3
You did not answer any of the questions. It does not reflect well on you. You keep digging yourself deeper and deeper.
Answer the question, and this is the only condition on which I am agreeable to further this conversation. Until then, no.

I did not ask you whether exibit A was attached or not. You are answering something that is not my question. Try again.

This is a question, not an answer.

T

[2021-09-03 23:09] SeaHOH commented on #3
This is just a memo.

![mp](https://user-images.githubusercontent.com/8470820/132072971-228b79ce-290a-4b6f-a369-faa95385dc5f.png)
![upx](https://user-images.githubusercontent.com/8470820/132073111-4634fcee-b098-4477-a718-aed8a1c74299.png)

The working repo
![upx2](https://user-images.githubusercontent.com/8470820/132076272-b67cb4bf-393e-4d20-bc3b-29e61b0bf161.png)
![upx3](https://user-images.githu

[2021-09-04 03:52] wolfbeast commented on #3
Patch files are not source code under the MPL. They word it as "source code **form**" for a very good reason.

You have 1 thing. A program. That program can come in 2 forms: an executable form (something you run, e.g. compiled) and a source code form (something you modify). Those have to be two forms of the **exact same thing**.
It's stunning that even something as simple as that is drawn in quest

[2021-09-04 04:27] chermany4ever commented on #21
Linux still have problems with lots of drivers for lots of different hardware that even win98 supported. It may work if you have some very generic standard basic hardware and you accept half working hardware with some workaround malfunctions. Other option is selling your good ol' hardware and buying only Linux well supported one.

[2021-09-04 07:46] Sen-nin commented on #4
Thank you Feodor2 for developing MyPal. I would really like to continue your project, and I would like to distribute MyPal under the laws of my country. I may be their target, but I always have several lawyers working for me anyway. You can contact me via my twitter account.

[2021-09-04 07:54] dmiranda12 commented on #3
Analog this. So, you thought you knew the dark side?

[2021-09-04 08:25] dmiranda12 commented on #3
hmmm. time to get reacquainted.

[2021-09-04 11:48] dca00 commented on #3
I will address your accusation of me not answering your questions once and once only because it is important and pertinent.
The only questions that you keep asking me are of the situation of "Exhibit A" or of the location of source code.
You know full well that I am not able to answer either question because I have no way of knowing the answer after you had manipulated Feodor2 into deleting his re

[2021-09-04 11:52] dca00 commented on #3
You forgot sugar. It comes in less than sweet and brown form. The factory applies chlorine patch, to make it whiter and to not darken your cake. This is what Feodor2 had done: he whitened your sugar.

Seriously, MPL2.0 does not define patches. You are making it up. I said it many enough time, to Matt A. Tobin, but since you are not under obligation to read any of comments addressed to him, I will

[2021-09-04 12:53] dca00 commented on #3
This was another insult-filled personal attack on me, instead of sticking to the matter at hand. You are not a doctor, and you are not qualify to diagnose my mental condition, needless to say that it is irrelevant. The only thing that is relevant is whether the "1st strike" was valid or not.
The more you write, the more you prove my points and dig yourself further in.
I am leaving, happy that I wa

[2021-09-04 15:20] AroKol78 commented on #19
for your own safety it is a good idea to block `inline-script, script, xhr` from accessing their pages
the worst can be expected on their part

[2021-09-05 02:39] integratedfactor8 commented on #3
This is what GNU says about distributing diffs from the standard version: https://www.gnu.org/licenses/gpl-faq.en.html#DistributingSourceIsInconvenient . They do not consider it to be the complete source code, and the GPL has the same definition of source code as the MPL, so this is evidence that the "preferred form of the work for making modifications" is not the diffs, and it requires the full s

[2021-09-05 03:19] jobbautista9 commented on #3
Indeed, and that's why linux-libre doesn't just include the patch files. It also includes complete tarballs. Don't want to accidentally violate the GPL after all.

[2021-09-05 03:41] SeaHOH commented on #3
In fact, not the problem, it's true, but a pretext. There is another way to resolve it.

[2021-09-05 04:37] gdl-blue commented on #21
offtopic from this issue, but does anyone have Mypal version 28.3.1 installer?

[2021-09-05 07:05] jpike88 commented on #3
This is comedy gold

[2021-09-05 08:23] chermany4ever commented on #21
I was testing NEWmoon and it stinks. A lot of sites fail to load and has way too many bugs. Don't even bother. Not worthy.

[2021-09-05 11:37] ByRodrigoSoares commented on #3
You talk, you talk and you don't present a solution for @Feodor2 or anyone else who wants to continue with the project like this, I increasingly lose hope that Mypal will be reborn

[2021-09-05 11:45] ByRodrigoSoares commented on #21
Newmoon is already way behind Mypal if we use this browser it would be a big step backwards as there are many incompatibilities

[2021-09-05 11:51] ByRodrigoSoares commented on #20
There is a possibility that @Feodor2 will continue with updates on the Mypal website http://www.mypal-browser.org/ or Palemoon may take down

[2021-09-05 13:29] chermany4ever commented on #21
After further testing I've found this NEWmoon version:

https://retrosystemsrevival.blogspot.com/2019/08/pale-moon-28-xp.html

It seems to be working OK and addons compatible.

[2021-09-05 14:24] yongsu101 commented on #3
<img width="804" alt="tobin" src="https://user-images.githubusercontent.com/89585363/132129935-63099599-eb05-473f-b8ed-0c7202168204.png">

https://forum.palemoon.org/viewtopic.php?f=62&t=27294&start=20#p219766
matt tobin shows his true colors again
https://forum.palemoon.org/viewtopic.php?f=62&t=27294&start=20#p219763
@jobbautista9 says feodor didn't give centaury source in 2019
load of bs, he upl

[2021-09-05 15:37] AroKol78 commented on #3
**MCP** zamiast zajmować się kruczkami prawnymi żeby mnie zlikwidować byście zajęli się rozwoązywaniem faktycznych problemów - użytkownicy z obu stron barykady naprawdę by byli zadowoleni

**MCP** instead of dealing with legal loops to liquidate me so that you can deal with the development of actual problems - users on both sides of the barricade would really be pleased

- web components --> https

[2021-09-05 17:00] Feodor2 commented on #22
The problem was about i did not put proper links to the source, i did not understand importance of this, and they utilized this to remove me from the development, but only me, other may continue, but should take with great care.
So this things above irrelevant.

[2021-09-05 17:15] Feodor2 commented on #21
If roytam will be careful, they will not able to do anything bad.
Go to his form for any further questions.
https://msfn.org/board/topic/182647-my-browser-builds-part-3/

[2021-09-05 17:15] #21 closed, assigned to nobody

[2021-09-05 17:15] Anbima commented on #22
@Feodor2
Try to agree with Pale Moon and supplement the missing data in the new version. MyPal is the only usable browser for a lot of Windows XP users.

It would be very important to us that you continue to develop it.

[2021-09-05 17:16] SaranSDS008 commented on #20
Nah, it's the Google's one, not the Core Browser/Engine. He could use Webkit Alternatively.

[2021-09-05 17:19] Feodor2 commented on #20
I told that already, personally shall not do any work with palemoon anymore, i think to take firefox directly.

Though anybody can take the mypal and continue the work, with or without my help. Only watch that rogue mypals may be infected with malware.

[2021-09-05 17:26] Feodor2 commented on #17
There is already https://msfn.org/board/topic/182876-360-extreme-explorer-modified-version/
And i better like firefoxes.

[2021-09-05 17:27] SaranSDS008 commented on #4
Yeah, Mattobin and his goons are such a Fking Immature Idiots just like Discord and Reddit Mods. Just fking sickens me.

[2021-09-05 17:28] Anbima commented on #20
@Feodor2
Do you mean that it works with Firefox.
Of course that would be very great.

[2021-09-05 22:34] SeaHOH commented on #3
Don't speak it more and more again, that we had already knew! Hypocrite! Where is the solution? You are just killing!

[2021-09-05 22:41] SeaHOH commented on #3
If you are really want resolve the issue as you said, show me a normal solution which can open up you MPL spirit.

[2021-09-05 22:57] SeaHOH commented on #3
Slience again again..., don't be shirking.

[2021-09-05 23:05] SeaHOH commented on #3
So, STOP your rigmarole.

[2021-09-05 23:06] SeaHOH commented on #3
WHY??? WHO ARE YOU?

[2021-09-06 00:47] ByRodrigoSoares commented on #20
Feodor@ Someone you trust could continue your project with your supervision without the Palemon knowing

[2021-09-06 06:14] gdl-blue commented on #17
is there progress about backporting newer Firefox such as v78 ESR?

[2021-09-06 09:34] pdemal opened #23 "microsoft and github disliking mypal?"

[2021-09-06 09:52] pdemal commented on #23
I can't attach any image.

please try this url:
https://docs.microsoft.com/en-us/windows-hardware/drivers/install/overview-of-inf-files
which gives:
"This browser is no longer supported"

or
https://github.com/login
which gives:
"GitHub no longer supports this web browser"

[2021-09-06 09:52] #23 closed, assigned to nobody

[2021-09-06 10:37] JeanPaulLucien commented on #22
You **should not**. Also 5.1 does not require to delete an executable files and source code in public resources. You have the rights to restore all.

As you see, Moonchild does not anwser to me, because there is no arguments to answer. He knows.

[2021-09-06 11:40] AroKol78 commented on #3
MCP wasze interpretacje MPL nic nie znaczą, każdy może sobie zinterpretować na swoje potrzeby - nie jesteście sądem.Może powinniście zostać prawnikami, bo kiepscy z was programiści i tylko się zasłaniacie googlem, jakie te google złe, a to wy jesteście po prostu kiepscy. Sami robicie podziały, zachowujecie się gorzej niż największe korporacje, radze wam abyście się przyjrzeli sobie w lustrze.
MCP

[2021-09-06 14:46] dmiranda12 commented on #3
"Well you will have to do THAT without me cause I won't be available after today or perhaps Monday for a while."

Got another tooth knocked out?

[2021-09-06 20:27] TobyAdd opened #24 "thanks for making mypal!"
Feodor2 thanks for creating the best browser for windows xp. You are the best man who made a soft for unsupported system. But unfortunately it's over, rip mypal.

[2021-09-07 09:17] JeanPaulLucien opened #25 "Need assistance with Github and Noscript"
I forked NoScript addon repo, but I don't need 10 version and above. How to delete all changes that have been done?
https://github.com/JeanPaulLucien/noscript

[2021-09-07 09:29] gdl-blue commented on #25
(offtopic with mypal but) maybe you may need to use git, which is a program that can manage your github(or any site that uses the git system) repositories

[2021-09-07 15:51] SeaHOH commented on #3
Abuse or just be silly?

[2021-09-07 15:53] jpike88 commented on #3
![wtf](https://user-images.githubusercontent.com/9585787/132374905-680325a4-d11a-49e5-b59f-ee7f21a827c9.jpg)

[2021-09-07 18:14] ghost commented on #24
Don't forget that there are Chinese builds on the modern Chromium engine, which works on XP. The interface is partly in English, the installer is Chinese.
https://browser.kfsafe.cn/
https://browser.360.cn/ee/

[2021-09-07 18:43] AroKol78 commented on #11
someone has gone mad again - someone has real problems and needs the help of a specialist
@roytam1 maybe some fixes from https://github.com/binoc-graveyard/esr52-vs2017 (:confused: **404**) could be made

I only checked one file (nsContentUtils.cpp) for example
:confused: **404** https://github.com/binoc-graveyard/esr52-vs2017/commit/bcbf7aba4ceef57266415036c464018cd39d5675
https://github.com/royt

[2021-09-07 20:34] hockeymikey commented on #22
You should continue development of it @Feodor2

[2021-09-08 00:21] ghost commented on #5
It's time for you to install gentoo.

[2021-09-08 00:48] yongsu101 commented on #3
what the hell is wrong with you matt tobin?
you complain all the time that people bring unrelated crap into this issue
then you start with this bs about someone stealing your source for something else
what the hell does that have to do with feodor?
i can give you a word of advice matt tobin
write something on your own if you want to control everything and get all credit
don't take from mozilla and

[2021-09-08 02:18] SeaHOH commented on #3
Ludicrous. Why didn't you fixed the evidences if you really want to defend your rights?

[2021-09-08 11:49] AroKol78 commented on #3
please block this jester  mattatobin

[2021-09-08 12:01] trallnag commented on #5
why not just ignore it and let them seeth

[2021-09-08 12:02] lmssieh commented on #5
god I hate fat people.

[2021-09-08 23:01] yongsu101 commented on #3
i didn't see him but if he was here then can you guess why?
because you brought that crap here and tagged him so he'd come
it has nothing to do with feodor
when you say coordinated activities you must mean when you 3 gangsters raided here
no that was a coincidence even though you all work together
but tons of people who don't even know each other is coordinated for sure
the only communists here is

[2021-09-09 03:51] TobyAdd opened #26 "Feodor2 What About Source Code?"
??

[2021-09-09 14:37] ROBERT-MCDOWELL commented on #3
when open source developers will realize that internet is fully controlled by corporations and deceit all of you that we are living in a world of democracy and freedom? DEVELOPERS, WAKE UP!

[2021-09-09 15:00] SaranSDS008 commented on #17
Or why not try Backporting a newer version of Firefox ESR using a team of members if possible, provided if you don't mind the MPL 2.0 restrictions? Also, Having a Chinese Browser in our PCs is definitely not a good Idea tbh.

[2021-09-09 15:06] SeaHOH commented on #3
I can understand the reason Feodor2 leaves: no one likes trouble, even if it's not his own fault.

[2021-09-10 00:14] ROBERT-MCDOWELL commented on #22
I agree, @Feodor2, they cannot do anything against you, you didn't break the MPL license and if the issue comes
from the links you didn't put so put these links back and everything is ok.

[2021-09-10 00:18] ROBERT-MCDOWELL commented on #20
I Know so many developers whom got back to XP since windows 10 is an absolute waste of time and waste!!!
many privacy laws are broken in win10 spying every move and click of the user, updating constantly, they should could windows orwell for the next version.

[2021-09-10 01:41] ghost commented on #3
There is a backup of the repo here from before Feodor2 removed the code in case anyone wants the sauce.

https://github.com/ManchildProductions/MyPal

[2021-09-10 15:37] AroKol78 commented on #3
recent posts on the [forum](https://forum.palemoon.org/viewtopic.php?f=62&t=27294) show that **mattatobin is breaking MPL licenses**.
**"Your rights are being violated along with the MPL."**

[2021-09-10 17:39] Feodor2 commented on #26
Not anymore
updated readme

[2021-09-10 17:39] #26 closed, assigned to nobody

[2021-09-10 17:40] Feodor2 commented on #25
Irrelevant indeed.

[2021-09-10 17:40] #25 closed, assigned to nobody

[2021-09-10 17:42] Feodor2 commented on #24
You are welcome but duplicating is unwanted.

[2021-09-10 17:42] #24 closed, assigned to nobody

[2021-09-10 17:54] Feodor2 commented on #22
I think continue work with paleomoon will be a waste for me, even if i could make few updates. But you still may use my latest version it will be actual for some time
I try to make new winxp browser not related to the palemoon in any way.

[2021-09-10 18:32] ROBERT-MCDOWELL commented on #22
@Feodor2 right, anyhow there are always solution in computer world ;)

[2021-09-11 00:28] ByRodrigoSoares commented on #17
**@Feodor2 solution is to use base from other browsers such as Tor.seamokey**

[2021-09-11 00:42] ByRodrigoSoares commented on #22
An alternative would be to use Mozilla's own Seamonkey browser as a base.

[2021-09-11 10:02] ROBERT-MCDOWELL commented on #3
Guys, do you really think that fight for stupid license that never protected anything but corporations without to find a reasonable solution is the way to go? Do you really think it's smart to waste your energy and your time to punish without to try an adult and fairplay solution while the entire world is collapsing from criminal "authorities" who don't give a F.... to our rights?

[2021-09-11 10:04] ROBERT-MCDOWELL commented on #3
@mattatobin
btw, mypal and centaury are focused on windows XP, OS which you don't care anymore.
so these projects cannot disturb the notoriety of palemoon or other related code.
why so much hate?

[2021-09-11 10:07] ROBERT-MCDOWELL commented on #3
@mattobin
are you kidding me? did you read some recent comment from @Feodor2?
it's clearly not intentional and btw he was ok to modify what you (never) asked. Also I see so much discrimination from palemoon guys from the fact he's Ukrainian. About the world collapsing, check your governement invovled in crime rather than search fleas in little guys.

[2021-09-11 10:13] ROBERT-MCDOWELL commented on #3
I think the better thing is to block guys like you bullying and insulting other developers.
your historic does not shine very well on the net  too
https://www.dslreports.com/forum/r30559946-Pale-Moon-Palemoon-Matt-A-Tobin-turned-into-a-jerk

[2021-09-11 10:22] ROBERT-MCDOWELL commented on #3
My intuition tells me that maybe some gusy from palemoon are paid by M$ to kill all windows XP initiatives :)

[2021-09-11 10:26] SeaHOH commented on #3
Don't touch it, it's just a dog shit, stinky!

[2021-09-11 10:40] ROBERT-MCDOWELL commented on #3
Btw Mr Tobin, if you really think that there is a license violation, it's not your job to be a lawyer, so open a complain to the court and the right jurisdiction.
For others here, I suggest to read the MPL 2.0 FAQ from Mozilla, and the suspicious ones who think that there is a license violation here pleast tell me what point, because I still didn't catch it
https://www.mozilla.org/en-US/MPL/2.0/FA

[2021-09-11 17:28] dbsoft commented on #3
Does anyone know any MPL lawyers? I think I need to prove them wrong once and for all.  Contacting a few but none of them list specialization in MPL.

[2021-09-11 18:03] enigma9o7 commented on #5
What exactly is going on?  Can someone summarize?  I just came today looking for an update.  Before this moment, I thought of mypal as palemoon fork for xp that was created cuz the lead palemoon dev doesnt wanna build for XP himself.  And I also imagined that it is the most popular browser for XP today and what everyone who still uses xp for internet uses. That's all I really knew before this.

I

[2021-09-11 18:33] enigma9o7 commented on #3
There are way too many messages to read here, but basically, it seems this matt tobin asshole is trying to claim mypal is in violation of license because source wasnt avaialble, even tho it all is all on github?    For one thing, guy doesnt seem to understand github, which is weird for a developer these days.... all source history is there forever....

Sounds like this Matt Tobin person is trying

[2021-09-11 18:41] dbsoft commented on #3
From what I can see Tobin's complaint is garbage.  It was available exactly where it was pointed to. Just ignore anything he says, it can't be trusted.

In the GitHub repository linked on the web site where you download it.  As I have stated repeatedly before.  Where is your source for Interlink available for instance for version 52.9.7354?

When you start being more forthcoming with your own sour

[2021-09-11 18:49] dbsoft commented on #3
There was no violation and your grant revocation is meaningless.  I'll prove it in court if necessary.

From what I can see you are only a drag on the community.

[2021-09-11 18:54] dbsoft commented on #3
I'm contacting lawyers to take over Feodor2's work, so I may be shortly and if you have issue with using his code... your issue will be with me at that point, so consider that.

It has already been well documented.  So I'll enjoy seeing you in court if you wish to continue with this charade.

I have never to my knowledge violated the MPL, and I don't intend to, which is why I am contacting the law

[2021-09-11 19:01] dbsoft commented on #3
Doing it better than you are apparently. :)

[2021-09-11 19:02] dbsoft commented on #3
Thanks! I am glad I have your endorsement. :)

[2021-09-11 19:04] dbsoft commented on #3
Don't like the competition?

[2021-09-11 19:06] dbsoft commented on #3
Must be a self loathing world you live in.

[2021-09-11 19:16] enigma9o7 commented on #22
Right now it seems source code for mypal is unavailable.  I assume it has to be made available upon request by anyone with binary if it is not already publicly available.  I have binary @Feodor2 so you please post source code publically to avoid being in violation of any licenses.  This website (github) is good for that.

[2021-09-11 19:27] AroKol78 commented on #22
the code was removed due to alleged MPL breaking.
three gentlemen came and demanded that the source code be removed
https://github.com/Feodor2/Centaury/issues/41
https://github.com/Feodor2/Centaury/issues/40
https://github.com/Feodor2/Centaury/issues/39

by the way, I recommend reading all #3 "license" for a better understanding of the situation
you can read them here
https://www.reddit.com/r/pale

[2021-09-11 19:28] enigma9o7 commented on #3
This kinda suggestion is whats wrong with people today.  If Mr Tobin really thinks there is a license violation, he could help try to resolve it, or ignore it.   You are just as big of asshole as him to suggest taking something like this to court.   If he took to court and I was judge, I'd recommend his immediate execution.  (Of course, civil judges cant really do that, but hey, I'd still recommen

[2021-09-11 20:09] ROBERT-MCDOWELL commented on #3
@mattatobin, do you need help? it seems you have some mental issues...

[2021-09-11 20:23] ROBERT-MCDOWELL commented on #3
@dbsoft
lawyers specialized in license compliance
https://www.gordiancompanies.com/software-licence-compliance/
I'm ready to donate to finance the lawyers and get prejudice from the harassing guy Mr Tobin.

[2021-09-11 21:02] yongsu101 commented on #3
thank you @dbsoft for taking charge in exposing all this bs and lies
if you need money to pay lawyers many people can help you just say how
matt tobin, you with your sabotage are the traitor to america not him
you really seem to have lost your mind matt tobin
you claim you follow the license to the letter
but you don't understand the meaning of words and intent
your boss moonchild stalin made a bi

[2021-09-11 21:24] yongsu101 commented on #3
https://forum.palemoon.org/viewtopic.php?f=62&t=27294&start=100#p219983

matt tobin you just can't cease to emit bs can you
lets not forget your bs and lies here
he failed to inform he failed to inform use more caps why don't you
everyone who wanted his source could get it so how did he fail
you never wanted his source so all your actions are fraudulent
why the hell would he bother with specifics

[2021-09-11 21:39] agt007 opened #27 "пдф и блокировшик"
Pale Moon 29.4.0.2
подскажите где взять
1 просмоторшик пдф
2 блокировшик рекламы

[2021-09-11 21:58] AroKol78 commented on #27
"Pale Moon 29.4.0.2" there you have to ask https://forum.palemoon.org/

1. https://addons.palemoon.org/addon/pdf-js-for-seamonkey/
2. https://addons.palemoon.org/addon/adblock-latitude/ or https://addons.palemoon.org/addon/abprime/
  and the best is https://github.com/gorhill/uBlock-for-firefox-legacy/releases

[2021-09-11 22:27] ROBERT-MCDOWELL commented on #5
well, they are already good license like GPL or creative common.
anyone can do anything with the code, public, private sell it, distribute it, as long as original authors name are not suppressed in the code.

[2021-09-11 22:37] SeaHOH commented on #3
Maybe we are bullying a psychological patient? That's so sad. But he doesn't go to the hospital, which makes us very upset.

[2021-09-11 22:39] ROBERT-MCDOWELL commented on #3
@SeaHOH, yup, exactly like the psychopaths at the top of the pyramid.

[2021-09-11 23:42] dbsoft commented on #3
Thanks, I'll check them out... I setup a Patreon a while back in case people have wanted to contribute but I hadn't really been promoting it.

https://www.patreon.com/dbsoft

[2021-09-12 00:04] 0strodamus commented on #3
[https://en.wikipedia.org/wiki/Malignant_narcissism](url)

[2021-09-12 00:15] ROBERT-MCDOWELL commented on #3
@mattatobin
https://www.askdifference.com/fascism-vs-communism/
frankly, look at you in a mirror.

[2021-09-12 02:15] sirrooster commented on #3
OMG :o what a kindergarten :-( MyPal is only for XP. It hurts nobody, but makes some people happy. To destroy this is nothing but an act of hell. Bad nazism minds!

[2021-09-12 03:57] LaOrhyUAcMji commented on #22
This whole incident is ridiculous to me, license issues aside, it seems like the PaleMoon dev team is hell-bent on attacking their own supporters (and people forking PaleMoon for XP -are- supporters of the PM project, one would have to be autistic to think otherwise).

Anyway, not here for mud-slinging, just wanted to say @Feodor2 thank you so much for developing this browser. Given the country yo

[2021-09-12 09:21] veselcraft commented on #5
http://wtfpl.net

[2021-09-12 09:50] yongsu101 commented on #3
https://github.com/Feodor2/Mypal/issues/3#issuecomment-917456898

good thing i went back to read because i almost missed this
here we have it ladies and gentlemen
**matt tobin is now extorting money for reinstating his grant**
turns out all this was a cash grab scam after all
matt tobin you told before how poor you are but seriously get a job
stop emitting bs and lies and causing trouble to get pa

[2021-09-12 10:14] yongsu101 commented on #3
i think matt tobin could tell that feodor doesn't have money
because he's russian and uses xp he can't be rich
so he never demanded from feodor directly
he kept up his charade until someone said they would hire a lawyer
obviously that person must have money
and also people started talking about donating to support
the moment that happened matt tobin revealed his true motive
talk about sinister

[2021-09-12 11:01] jpike88 commented on #3
![ezgif-5-a1dae5142196](https://user-images.githubusercontent.com/9585787/132984997-129516b5-b7c1-4043-bd94-a2054fe3ee4a.gif)

[2021-09-12 11:03] JeanPaulLucien commented on #22
@Feodor2 ты видишь, что лицензия требует удаления программного обеспечения и кода после окончания прав? Ага. **Нет там такого** требования.

Удалить установщики и исходные код - это только твоё решение,

[2021-09-12 11:09] yongsu101 commented on #3
such long talk matt tobin but you don't deny you asked @dbsoft for money to reinstate
because you know you don't have a chance in hell in the court of law
you can shove your con man hand wringing when we can see right through you

[2021-09-12 11:11] ROBERT-MCDOWELL commented on #3
@yongsu101
FYI many tiimes we asked @feodor2 to add a "Donation" button here...

[2021-09-12 11:13] ROBERT-MCDOWELL commented on #3
@yongsu101
let it go, you cannot help a mental case guy to reason.

[2021-09-12 11:17] ROBERT-MCDOWELL commented on #5
@veselcraft
you can create your own license too buddy ::)

[2021-09-12 11:20] yongsu101 commented on #3
@ROBERT-MCDOWELL
that once again shows feodor wasn't doing this for the money or nefarious reason
he was doing it because he wanted to help out xp users
not for fake superiority like matt tobin who cries about not getting thanks from the whole world
while he bullies people every chance he gets

[2021-09-12 11:25] SeaHOH commented on #3
Who master the truth? The majority? The minority? No, it's power. Now, the law is the power. At least not a mental.

[2021-09-12 11:28] ROBERT-MCDOWELL commented on #22
@Feodor2
a famous XP related websites where you can also send the binaries and the sources of course! :D
https://xpforever.miraheze.org/wiki/Main_Page

[2021-09-12 11:46] yongsu101 commented on #3
try to explain in court that you didn't want material gain when you said that
if not money then what was it about?
maybe you wanted a gift of new glasses or a chair or a new monitor or a car?
before you sure cried a lot about not having all that
i don't see anyone else here out for material wealth except you poor crybaby
on the contrary people are willing to lose money to help truth win in court
o

[2021-09-12 13:56] AroKol78 commented on #3
where there are entries and "https://github.com/Feodor2/Centaury/issues/39" created by matttobin

[2021-09-12 14:01] Conan-Kudo commented on #3
@Feodor2 deleted them, so you'll have to look them up via archive.org or some other means to get them.

[2021-09-12 14:03] AroKol78 commented on #3
@mattatobin will disappear from github -404

[2021-09-12 17:35] dbsoft commented on #3
https://forum.palemoon.org/viewtopic.php?f=62&t=27294&start=120#p220044

The lunacy of this is, when he did this to me... banned me from his channel, then the Pale Moon forum... I guess he thought he was being righteous? But when it happens to him.. he is being silenced and oppressed. The hypocrisy is maddening.

[2021-09-12 17:51] SeaHOH commented on #3
Oh, you see. There is nothing for you. Bye, Tobin, don't come back again.

[2021-09-12 18:23] dbsoft commented on #3
It is an interesting analogy, but to me how it should go is... The traffic law doesn't cover private parking lots, so as long as you don't do anything that violates some other law, the police have nothing they can do whether you are standing or parked over the line. Both people are doing something that isn't nice, one on accident (parked over the line) and one on purpose (the standing one).  The s